/* optional responsive grid  end */

@media screen and (min-width : 641px){
    #doc5 .nav-menu-toggle,
    #doc3 .nav-menu-toggle{
        display:none!important;
    }
    #access{display:block!important;}
}
@media screen and (max-width : 640px){
    html,
    html .gecko{
        max-width:100%;
        margin:0;
        padding:0;
        overflow-x:hidden;
    }

    body{
        box-sizing:border-box!important;
    }
    #access ul li > ul {
        display:block!important;
    }   
    .raindrops-mobile-menu{
        display:block!important;
    }
    #access{display:none!important;}
    #access:target{
        display:block!important;
        /* target link position ajust */
        padding-top:100px;
        margin-top:-100px;
    }

    .ie6 #access:target{display:block!important;}
    .ie7 #access:target{display:block!important;}
    .ie8 #access:target{display:block!important;}
    .raindrops-mobile-menu{
        position:relative;
        margin:0 10px;
    }

    .raindrops-mobile-menu .open{
        position:absolute;
        top:4px;
        left:0;
        font-size:153.9%;
        width:10%;
        background: url(images/raindrops-nav-menu-expand.png);
        background-repeat:no-repeat;
        background-position:center;
    }

    .raindrops-mobile-menu .open .raindrops-nav-menu-expand{
        visibility:hidden;
        width:20px;
        height:20px;
        display:inline-block;
        text-indent:-100px;
    }

    .raindrops-mobile-menu .close{
        position:absolute;
        top:2px;
        right:5%;
        font-size:153.9%;
        width:10%;
        background: url(images/raindrops-nav-menu-shrunk.png);
        background-repeat:no-repeat;
        background-position:center;
    }

    .raindrops-mobile-menu .close .raindrops-nav-menu-shrunk{
        visibility:hidden;
        width:20px;
        height:20px;
        display:inline-block;

    }
    .page-title,
    #archives-title{
        display:block;
        font-size:153.0%;
        text-align:center;

    }
    div#doc5 .entry-meta-gallery,
    div#doc5 .entry-meta-aside,
    div#doc5 .entry-meta-status,
    div#doc5 .entry-meta-quote,
    div#doc5 .entry-meta-image,
    div#doc5 .entry-meta-link,
    div#doc5 .entry-meta-video,
    div#doc5 .entry-meta-chat,
    div#doc5 .entry-meta-audio,
    div#doc5 .posted-on,
    div#doc3 .entry-meta-gallery,
    div#doc3 .entry-meta-aside,
    div#doc3 .entry-meta-status,
    div#doc3 .entry-meta-quote,
    div#doc3 .entry-meta-image,
    div#doc3 .entry-meta-link,
    div#doc3 .entry-meta-video,
    div#doc3 .entry-meta-chat,
    div#doc3 .entry-meta-audio,
    div#doc3 .posted-on{
        text-align:right;
        /*	line-height:2;*/
    }
    #doc5 .mejs-horizontal-volume-total,
    #doc3 .mejs-horizontal-volume-total{
        max-width:100%;
    }
    #doc5 .raindrops-comment-link,
    #doc3 .raindrops-comment-link{
        display:inline-block;
    }
    #doc5 .entry-title,
    #doc3 .entry-title{
        margin:.5em 0;
        font-family:sans-serif;
    }
    .raindrops-mobile-menu .menu-text{
        position:absolute;top:10px;left:44%;
    }
    #doc5 .entry-content blockquote,
    #doc3 .entry-content blockquote{
        margin:1em 0;
        max-width:100%;
    }
    #doc5 .size1of1,
    #doc5 .size1of2,
    #doc5 .size1of3,
    #doc5 .size2of3,
    #doc5 .size1of4,
    #doc5 .size3of4,
    #doc5 .size1of5,
    #doc5 .size2of5,
    #doc5 .size3of5,
    #doc5 .size4of5,
    #doc5 #access ul ul,
    #doc5 #access ul,
    #doc5 #access ul li,
    #doc5.yui-t6 #container > div.first,
    #doc5.yui-t5 #container > div.first,
    #doc5.yui-t4 #container > div.first,
    #doc5.yui-t3 #container > div.first,
    #doc5.yui-t1 #container > div.first,
    #doc5.yui-t2 #bd > div.yui-b,
    #doc5.yui-t2 #yui-main div.yui-b,
    #doc5 #container > div.first,
    #doc5 #container > .yui-u,
    .ahthor #doc5 #container div.first,
    .author #doc5 #container .yui-u,
    #doc5 .footer-widget,
    #doc5 #ft div.widget-wrapper>ul>li,
    #doc5 #ft .widget-wrapper ul,
    #doc5 #bd .yui-b,
    #doc5 #yui-main{
        float:none;
        margin:0;
        margin-left:0;
        margin-right:0;
        display:block;
        max-width:100%;
        width:100%;
        box-sizing: border-box;
        clear:both;
        background-repeat:no-repeat;
        position:static;       
    } 
    #doc3 .size1of1,
    #doc3 .size1of2,
    #doc3 .size1of3,
    #doc3 .size2of3,
    #doc3 .size1of4,
    #doc3 .size3of4,
    #doc3 .size1of5,
    #doc3 .size2of5,
    #doc3 .size3of5,
    #doc3 .size4of5,
    #doc3 #access ul ul,
    #doc3 #access ul,
    #doc3 #access ul li,
    #doc3.yui-t6 #container > div.first,
    #doc3.yui-t5 #container > div.first,
    #doc3.yui-t4 #container > div.first,
    #doc3.yui-t3 #container > div.first,
    #doc3.yui-t1 #container > div.first,
    #doc3.yui-t2 #bd > div.yui-b,
    #doc3.yui-t2 #yui-main div.yui-b,
    #doc3 #container > div.first,
    #doc3 #container > .yui-u,
    .ahthor #doc3 #container div.first,
    .author #doc3 #container .yui-u,
    #doc3 .footer-widget,
    #doc3 #ft div.widget-wrapper>ul>li,
    #doc3 #ft .widget-wrapper ul,
    #doc3 #bd .yui-b,
    #doc3 #yui-main {
        float:none;
        margin:0;
        margin-left:0;
        margin-right:0;
        display:block;
        max-width:100%;
        width:100%;
        box-sizing: border-box;
        clear:both;
        background-repeat:no-repeat;
        position:static;
    }
    #doc5 #access a,
    #doc5 #access ul ul,
    #doc5 #access ul,
    #doc5 #access ul li,
    #doc3 #access a,
    #doc3 #access ul ul,
    #doc3 #access ul,
    #doc3 #access ul li{
        border:none;

    }
    #doc5 #access a,
    #doc3 #access a{
        text-align:left;
        font-size:150%;
    }
    #doc5 #access .menu > li > ul,
    #doc5 #access .menu > li > ul,
    #doc3 #access .menu > li > ul,
    #doc3 #access .menu > li > ul{
        box-sizing:border-box;
        overflow:hidden;
    } 
    #doc5 #access .menu > .page_item_has_children,
    #doc5 #access .menu > .menu-item-has-children,
    #doc3 #access .menu > .page_item_has_children,
    #doc3 #access .menu > .menu-item-has-children{
        /*  border-left:red 6px solid;*/


    }
    #doc5 #access .page_item_has_children .page_item_has_children > a,
    #doc5 #access .menu-item-has-children .menu-item-has-children > a,
    #doc5 #access .page_item_has_children .page_item_has_children > ul,
    #doc5 #access .menu-item-has-children .menu-item-has-children > ul,
    #doc3 #access .page_item_has_children .page_item_has_children > a,
    #doc3 #access .menu-item-has-children .menu-item-has-children > a,
    #doc3 #access .page_item_has_children .page_item_has_children > ul,
    #doc3 #access .menu-item-has-children .menu-item-has-children > ul{
        /* border-left:green 6px solid;*/
        margin-left:15px;

    }
    #doc5 #access .page_item_has_children .page_item_has_children .page_item_has_children > a,
    #doc5 #access .menu-item-has-children .menu-item-has-children .menu-item-has-children > a,
    #doc5 #access .page_item_has_children .page_item_has_children .page_item_has_children > ul,
    #doc5 #access .menu-item-has-children .menu-item-has-children .menu-item-has-children > ul,
    #doc3 #access .page_item_has_children .page_item_has_children .page_item_has_children > a,
    #doc3 #access .menu-item-has-children .menu-item-has-children .menu-item-has-children > a,
    #doc3 #access .page_item_has_children .page_item_has_children .page_item_has_children > ul,
    #doc3 #access .menu-item-has-children .menu-item-has-children .menu-item-has-children > ul{
        /*border-left:yellow 6px solid;*/

    }
    #doc5 #access .menu > li > a,
    #doc5 #access .menu > .page_item_has_children > a,
    #doc5 #access .menu > .menu-item-has-children > a,
    #doc3 #access .menu > li > a,
    #doc3 #access .menu > .page_item_has_children > a,
    #doc3 #access .menu > .menu-item-has-children > a{
        font-size:200%;
        border-left:6px green solid;
    }
    #doc5 #access .page_item_has_children .page_item_has_children > a,
    #doc5 #access .menu-item-has-children .menu-item-has-children > a,
    #doc3 #access .page_item_has_children .page_item_has_children > a,
    #doc3 #access .menu-item-has-children .menu-item-has-children > a{
        font-size:150%;
        border-left:6px green solid;
    }
    #doc5  #access .page_item_has_children > a:after,
    #doc5 #access .menu-item-has-children > a:after,
    #doc5 #access .children .page_item_has_children > a:after,
    #doc5 #access .sub-menu .page_item_has_children > a:after,
    #doc5 #access .children .menu-item-has-children > a:after,
    #doc5 #access .sub-menu .menu-item-has-children > a:after,
    .ie8 #doc5 #access .page_item_has_children > a:after,
    .ie8 #doc5  #access .menu-item-has-children > a:after,
    .ie9 #doc5 #access .children .page_item_has_children > a:after,
    .ie9 #doc5 #access .sub-menu .page_item_has_children > a:after,
    .ie9 #doc5 #access .children .menu-item-has-children > a:after,
    .ie9 #doc5 #access .sub-menu .menu-item-has-children > a:after,
    #doc3  #access .page_item_has_children > a:after,
    #doc3 #access .menu-item-has-children > a:after,
    #doc3 #access .children .page_item_has_children > a:after,
    #doc3 #access .sub-menu .page_item_has_children > a:after,
    #doc3 #access .children .menu-item-has-children > a:after,
    #doc3 #access .sub-menu .menu-item-has-children > a:after,
    .ie8 #doc3 #access .page_item_has_children > a:after,
    .ie8 #doc3  #access .menu-item-has-children > a:after,
    .ie9 #doc3 #access .children .page_item_has_children > a:after,
    .ie9 #doc3 #access .sub-menu .page_item_has_children > a:after,
    .ie9 #doc3 #access .children .menu-item-has-children > a:after,
    .ie9 #doc3 #access .sub-menu .menu-item-has-children > a:after{
        content :'';
    }
    #access .menu li,
    #access .children,
    #access .sub-menu,
    #access .sub-menu a,
    #access .children a{
        display:block!important;
        float:none!important;
        opacity:1!important;
    }
    #doc5 .datetable,
    #doc3 .datetable{
        margin:0 5px 10px 0!important;
        box-sizing: border-box;
    }
    #doc5 .this-posted-in,
    #doc5 .bookmark-the,
    #doc3 .this-posted-in,
    #doc3 .bookmark-the{
        font-weight:bold;
        font-size:131%;
    }
    #doc5 .rsidebar,
    #doc5 .lsidebar,
    #doc5 div.post,
    #doc5 article,
    #doc3 .rsidebar,
    #doc3 .lsidebar,
    #doc3 div.post,
    #doc3 article{
        margin:0 8px!important;
        box-sizing: border-box;
    }
    #doc5 .reply, #ft a,
    #doc5 .page .hentry .entry-title a,
    #doc5 #site-description,
    .home #doc5 .sticky a,
    .home #doc5 .entry-meta a,
    .archive #doc5 .entry-meta a,
    .single #doc5 .entry-meta a,
    #doc5 .topsidebar ul li ul li a,
    #doc5 #bigbanner ul li ul li a,
    #doc5 .lsidebar ul li ul li a,
    #doc5 .rsidebar ul li ul li a,
    #doc5 .lsidebar li.page_item a,
    #doc5 .lsidebar .widget ul li a,
    #doc3 .reply, #ft a,
    #doc3 .page .hentry .entry-title a,
    #doc3 #site-description,
    .home #doc3 .sticky a,
    .home #doc3 .entry-meta a,
    .archive #doc3 .entry-meta a,
    .single #doc3 .entry-meta a,
    #doc3 .topsidebar ul li ul li a,
    #doc3 #bigbanner ul li ul li a,
    #doc3 .lsidebar ul li ul li a,
    #doc3 .rsidebar ul li ul li a,
    #doc3 .lsidebar li.page_item a,
    #doc3 .lsidebar .widget ul li a{
        display:block;
        background-repeat:no-repeat;
        width:100%;
        height:100%;
        margin:0;
        padding:0.5em;
        box-sizing: border-box;
        font-size:123%;

    }
    #doc5 .page .hentry .entry-title,
    #doc3 .page .hentry .entry-title a{
        padding:0;
    }
    #doc5 #ft .widget_categories ul li a,
    #doc5 #ft .widget_categories ul li a,
    #doc5 .rsidebar .widget_categories ul li a,
    #doc5 .lsidebar .widget_categories ul li a
    #doc5 #ft .widget_archive ul li a,
    #doc5 #ft .widget_archive ul li a,
    #doc5 .rsidebar .widget_archive ul li a,
    #doc5 .lsidebar .widget_archive ul li a,
    #doc5 #ft .categories ul li a,
    #doc5 #ft .categories ul li a,
    #doc5 .rsidebar .categories ul li a,
    #doc5 .lsidebar .categories ul li a,
    #doc3 #ft .widget_categories ul li a,
    #doc3 #ft .widget_categories ul li a,
    #doc3 .rsidebar .widget_categories ul li a,
    #doc3 .lsidebar .widget_categories ul li a
    #doc3 #ft .widget_archive ul li a,
    #doc3 #ft .widget_archive ul li a,
    #doc3 .rsidebar .widget_archive ul li a,
    #doc3 .lsidebar .widget_archive ul li a,
    #doc3 #ft .categories ul li a,
    #doc3 #ft .categories ul li a,
    #doc3 .rsidebar .categories ul li a,
    #doc3 .lsidebar .categories ul li a{
        display:inline-block;
        width:85%;
        padding:.5em;
    }
    #doc5 #ft .widget_tag_cloud .tagcloud a,
    #doc5 #ft .widget_tag_cloud .tagcloud a,
    #doc5 .rsidebar .widget_tag_cloud .tagcloud a,
    #doc5 .lsidebar .widget_tag_cloud .tagcloud a,
    #doc3 #ft .widget_tag_cloud .tagcloud a,
    #doc3 #ft .widget_tag_cloud .tagcloud a,
    #doc3 .rsidebar .widget_tag_cloud .tagcloud a,
    #doc3 .lsidebar .widget_tag_cloud .tagcloud a{
        display:inline-block!important;
        width:23%;
        padding:.5em 0;

    }
    #doc5 .footer-widget h2,
    #doc5 .rsidebar h2,
    #doc5 .lsidebar h2,
    #doc5 .widgettitle h2,
    #doc5 h2.footer-content,
    #doc3 .footer-widget h2,
    #doc3 .rsidebar h2,
    #doc3 .lsidebar h2,
    #doc3 .widgettitle h2,
    #doc3 h2.footer-content{
        background-repeat:no-repeat;
        height:2em;
        background:none;
    }
    #access ul ul{
        text-align:left;
        text-indent:1em;
    }
    #access ul ul ul{
        text-align:left!important;
        text-indent:2em;
    }

    .raindrops-mobile-menu{
        display:inline-block;
        height:1em;
        text-align:right;
        padding:1em;
        font-size:138.5%;
    }

    #access .sub-menu li,
    #access .children li{
        border:none;
    }
    #doc5 #site-title,
    #doc3 #site-title{
        font-size:167%;
    }
    #doc5 .entry-title,
    #doc3 .entry-title{
        font-size:153.5%;
    }
    #doc5 #site-description,
    #doc3 #site-description{
        font-size:108%;
    }
    #nav-status-bar,
    #nav-above,
    #nav-below{
        margin:0 10px;
    }
    #doc5 #header-image p,
    #doc3 #header-image p{
        font-size:123.1%;
        font-weight:bold;
    }
    .home #doc5 .format-status .post-format-status-main:before,
    .home #doc3 .format-status .post-format-status-main:before{
        content: 'STATUS';
        display:block;
        font-weight:bold;
        font-family:sans-serif;
        margin-top:1em;
    }
    #doc5 .post-format-status-publish-date,
    #doc5 .category-blog-publish-date,
    #doc3 .post-format-status-publish-date,
    #doc3 .category-blog-publish-date{
        margin:.3em 0 1em!important;
        margin:.3rem 0 1rem!important;
    }
    .widget select{
        margin:5px 3%;
        width:94%;
    }
    img.aligncenter, .aligncenter, div.aligncenter{
        box-sizing:border-box;
    }
    /* front-page.php */
    #doc5 .front-page-top-container,
    #doc3 .front-page-top-container{
        position:relative;
    }
    #doc5 .front-page-top-container .first,
    #doc3 .front-page-top-container .first{
        width:98%;
    }
    #doc5 .front-page-top-container .first + .yui-u,
    #doc3 .front-page-top-container .first + .yui-u{
        width:98%;
    }
    #doc5 .raindrops-image-page .attachment-navigation .prev a,
    #doc5 .raindrops-image-page .attachment-navigation .next a,
    #doc3 .raindrops-image-page .attachment-navigation .prev a,
    #doc3 .raindrops-image-page .attachment-navigation .next a{
        background-repeat:no-repeat;
    }
    #doc5 .raindrops-image-page .attachment-navigation .next a,
    #doc3 .raindrops-image-page .attachment-navigation .next a{
        background-position:top right;
    }
    #front-page-template-pages{
        padding:0;
    }
    #front-page-template-pages .entry-title{
        text-align:center;
    }
    /* front-page.php end */
    /* remove equal height inline style  */
    #yui-main .yui-u .rsidebar,
    #yui-main .yui-u .lsidebar{
        min-height:0!important;
    }
    #doc5 .raindrops-pinup-entries .entry-title,
    #doc3 .raindrops-pinup-entries .entry-title {
        position: absolute;
        top: -10px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .raindrops-toc-front{
        margin:1em 0;  
    }
    .raindrops-toc-front li{
        list-style:none;
        width:100%;
        text-align:center;
        display:block;
        box-sizing:border-box;
        margin:1%; 
        border:1px solid rgba(222,222,222,.8);
    }
    .yui-t3 .raindrops-expand-width .datetable,
    .yui-t2 .raindrops-expand-width .datetable,
    .yui-t1 .raindrops-expand-width .datetable,
    .yui-t3 .raindrops-expand-width,
    .yui-t2 .raindrops-expand-width,
    .yui-t1 .raindrops-expand-width{
        padding-right:0;
    }
    #doc5 .widget a.post-group_by-category-title:not(.no-thumb),
    #doc5 .widget a.post-group_by-category-entry-title:not(.no-thumb),   
    #doc3 .widget a.post-group_by-category-title:not(.no-thumb),
    #doc3 .widget a.post-group_by-category-entry-title:not(.no-thumb){
        position:relative;
        display:block;
        margin-left:60px;
        width:80%;
        width: calc(100% - 60px);
        min-height:4.5em;
        max-width:100%;
        box-sizing:border-box;
    }
    #doc5 .widget a.post-group_by-category-title.no-thumb,
    #doc5 .widget a.post-group_by-category-entry-title.no-thumb,
    #doc3 .widget a.post-group_by-category-title.no-thumb,
    #doc3 .widget a.post-group_by-category-entry-title.no-thumb{
        position:static;
    }
    #doc5 .widget .post-group_by-category-title .h2-thumb,
    #doc5 .widget .post-group_by-category-entry-title .h2-thumb,
    #doc3 .widget .post-group_by-category-title .h2-thumb,
    #doc3 .widget .post-group_by-category-entry-title .h2-thumb{
        position:absolute;
        left:-60px;
    }
}
@media screen and (max-width : 480px){
    html .gecko{
        max-width:98.4%;
        margin:0;
        padding:0;
    }

}
@media screen and (max-width : 640px){
    .portfolio > ul{
        margin-left:0;
    }
    .portfolio ul.index > li{
        width:100%;
        display:block;
        padding:10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        margin:auto;
        float:none;
    }
    .portfolio ul.index > li .post{
        background-repeat:no-repeat;
        background-position:center center!important;
    }
}
@media screen and (min-width : 1280px){
    #doc5,
    #doc3{
        margin:0 auto;
    }
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min--moz-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5){
    html,
    body{
        width:100%;
        overflow-x:hidden;
    }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    #comments .form-allowed-tags:before,
    #comments .nopassword:before,
    #comments .nocomments:before,
    .comment-notes:before,
    .logged-in-as:before{
        background: url("images/retina/info.png");
        background-size:16px 16px;
    }
    #respond .required,
    .comment-form-email .required,
    .comment-form-author .required,
    .comment-notes .required{
        background:url("images/retina/require.png");
        background-size:16px 16px;
        background-repeat:no-repeat;
    }
    .error404 .entry-title:before{
        background: url("images/retina/stop.png");
        background-size:16px 16px;
    }
    address .raindrops-accessibility-link:after{
        background: url("images/retina/accessibility.png");
        background-size:16px 16px;
    }
    address .comments-rss:after,
    address .entry-rss:after{
        background: url("images/retina/rss.png");
        background-size:16px 16px;
    }
    .raindrops-chat-author-0:before{
        background-image: url('images/retina/raindrops-chat-author-0.png');
        background-size:13px 13px;
    }
    .raindrops-chat-author-1:before{
        background-image: url('images/retina/raindrops-chat-author-1.png');
        background-size:13px 13px;
    }
    .raindrops-chat-author-2:before{
        background-image: url('images/retina/raindrops-chat-author-2.png');
        background-size:13px 13px;

    }
    .raindrops-chat-author-3:before{
        background-image: url('images/retina/raindrops-chat-author-3.png');
        background-size:13px 13px;

    }
    .raindrops-chat-author-4:before{
        background-image: url('images/retina/raindrops-chat-author-4.png');
        background-size:13px 13px;

    }
    .raindrops-chat-author-5:before{
        background-image: url('images/retina/raindrops-chat-author-5.png');
        background-size:13px 13px;

    }
    .attachment-navigation .prev a{
        background:url("images/retina/previous.png");
        background-size:16px 16px;
    }
    .nav-previous a:before{
        background: url("images/retina/previous.png");
        background-size:16px 16px;
    }
    .nav-next a:after{
        background: url("images/retina/next.png");
        background-size:16px 16px;

    }
    .attachment-navigation .next a{
        background:url("images/retina/next.png");
        background-size:16px 16px;
    }

    .icon-link-no-title{
        background: url("images/retina/link.png");
        background-size:24px 24px;
    }
    .icon-post-format-aside{
        background: url("images/retina/post-format-aside.png");
        background-size:24px 24px;
    }

    .icon-post-format-audio{
        background: url("images/retina/post-format-audio.png");
        background-size:24px 24px;
    }
    .icon-post-format-chat{
        background: url("images/retina/post-format-chat.png");
        background-size:24px 24px;
    }
    .icon-post-format-gallery{
        background: url("images/retina/post-format-gallery.png");
        background-size:24px 24px;
    }
    .icon-post-format-image{
        background: url("images/retina/post-format-image.png");
        background-size:24px 24px;
    }
    .icon-post-format-link{
        background: url("images/retina/post-format-link.png");
        background-size:24px 24px;
    }
    .icon-post-format-quote{
        background: url("images/retina/post-format-quote.png");
        background-size:24px 24px;
    }
    .icon-post-format-status{
        background: url("images/retina/post-format-status.png");
        background-size:24px 24px;
    }
    .icon-post-format-video{
        background: url("images/retina/post-format-video.png");
        background-size:24px 24px;
    }
}