/*
Theme Name: raindrops
Theme URI: http://www.tenman.info/wp3/raindrops/
Description: This theme can change freely fonts,layout,color scheme and header image for each post,page. The google fonts, you can use freely in the post more than 90percent of the fonts.Color scheme and layout, you can freely change from theme customizer.For more updates, please make sure to open the link of the changelog from the help tab of this theme page.Add new post, so also to help tab of edit post page has been described how to use tips, please visit. Supported languages Japanese - JAPAN (ja) French - FRANCE (fr_FR) Polish - POLAND (PL) (pl_PL) Portuguese - BRAZIL (pt_BR)
Author: Tenman
Author URI: http://www.tenman.info/wp3/
Version: 1.297
Tags: black, blue, gray, brown, green, orange, pink, purple, red, silver, tan, white, yellow, dark, light, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-colors, custom-header, custom-background, custom-menu, editor-style, theme-options, threaded-comments, sticky-post, translation-ready, post-formats, featured-images, full-width-template, fixed-layout, fluid-layout, responsive-layout, rtl-language-support, microformats
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Raindrops
*/
/**
 * Raindrops Base Style Rules
 *
 *
 * Filetype: CSS
 * @package Raindrops
 */
/*-----------------------------------------------------
Yahoo UI Library Font-size Adjustment
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
http://developer.yahoo.com/yui/license.txt
http://developer.yahoo.com/yui/fonts/
10px = 77%     11px = 85%     12px = 93%     13px = 100%
14px = 108%    15px = 116%    16px = 123.1%  17px = 131%
18px = 138.5%  19px = 146.5%  20px = 153.9%  21px = 161.6%
22px = 167%    23px = 174%    24px = 182%    25px = 189%
26px = 197%
------------------------------------------------------*/
body.rd-pw-doc5,
body.rd-pw-doc3{
    max-width:100%;
    overflow-x: hidden;
}
.hfeed a{
    text-decoration:none;
}
#ft a:active,
.lsidebar a:active,
.rsidebar a:active,
#access a:active {
    position:relative;
    top:0.07692307692em;
}
a:visited{
   opacity:0.8;
}
#bd a:hover{ }
.gecko #bd h2 a:hover{
   text-decoration:none;
    border-bottom:solid 0.07692307692em;
}
.ie11.enable-keyboard #access .sub-menu a:focus,
.ie11.enable-keyboard #access .children a:focus,
.ie11.raindrops-accessible-mode #access .sub-menu a:focus,
.ie11.raindrops-accessible-mode #access .children a:focus,
.raindrops-accessible-mode .hfeed a:focus{
    position:relative;
    margin:-0.07692307692em;
}
.raindrops-accessible-mode .hfeed .raindrops-mobile-menu a:focus,
.enable-keyboard .hfeed .raindrops-mobile-menu a:focus{
    position:absolute;
}
.raindrops-accessible-mode #access:target li:hover > ul > li > a,
.enable-keyboard #access:target li:hover > ul > li > a{
    border:none;
}
.raindrops-accessible-mode #hd + a,
.enable-keyboard #hd + a{
    margin:0;
}
.raindrops-accessible-mode .entry-content a:focus img,
.enable-keyboard .entry-content a:focus img{
    outline:thin dotted;
}
.ie8 #doc #header-image,
.ie8 #doc4 #header-image,
.ie9 #doc4 #header-image,
.ie10 #doc4 #header-image,
.ie11 #doc4 #header-image{
    width:auto;
}
#doc4 #header-image,
#doc2 #header-image,
#doc #header-image{
    max-width:100%;
}
.page-template-page-templatespage-featured-php #container{
    width:100%;
}
.enable-keyboard #access .menu-item-has-children .sub-menu:hover,
.enable-keyboard #access .menu-item-has-children a:hover + ul,
.raindrops-accessible-mode #access .menu-item-has-children .sub-menu:hover,
.raindrops-accessible-mode #access .menu-item-has-children a:hover + ul{
    z-index:1000;
}
.enable-keyboard .entry-title a:focus span,
.enable-keyboard #site-title a:focus span,
.raindrops-accessible-mode .entry-title a:focus span,
.raindrops-accessible-mode #site-title a:focus span{
    visibility:visible!important;
}
.gecko td img.size-full{
    width:100%;
}
/* headding */
h1,
h2,
h3,
.h1,
.h2,
.h3{
    clear:both;
    overflow:hidden;
    margin:.5em 0;
}
h4,
h5,
h6,
.h4,
.h5,
.h6{
    clear:both;
    margin:.5em 0;
}
/* Add 0.902  category blog at listed article issue image after headding is not float*/
.index h1,
.index h2,
.index h3,
.index .h1,
.index .h2,
.index .h3,
index h4,
.index h5,
.index h6,
.index .h4,
.index .h5,
.index .h6{
    clear:none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
    text-decoration:none;
    display:inline;
    background:none;
}
div.error404{
    margin:5% 10%;
}
.error404 h1,
#page-title{
    margin-left:2em;
}
/* elemants */
body{
    color:#000;
    background:#fff;
}
a:active,a:focus {
    border:none;
    outline:none;
}
strong,
b{
    font-weight:bold;
    border-bottom:none;
    text-decoration:none;
}
em,
i{
    font-style: italic;
}
p{
    line-height:1.5;
    margin-bottom:1em;
}
.rsidebar select,
.lsidebar select{
    width:100%;
    margin:0.23076923076em 0;
}
.entry-content blockquote {
    clear:both;
    margin:1em 2.5em;
    padding:1em;
}
.entry-meta-list .edit-link .post-edit-link .raindrops_unique_identifier,
.raindrops_unique_identifier,
.entry-title .raindrops_unique_identifier,
.sticky .raindrops_unique_identifier,
.entry-meta-list .edit-link .post-edit-link .posted-on-published-property,
.posted-on-published-property,
.entry-title .posted-on-published-property,
.sticky .posted-on-published-property{
    display:none!important;
}
.format-status .format-status-not-single-post{
    margin:2em 0;
}
.format-status .post-format-status-main{
    margin:0 0 2em;
}
.format-status .format-status-not-single-post .entry-meta{
    margin-top:1.53846153846em;
}
.format-standard .format-status-not-single-post .blog-avatar,
.format-status .format-status-not-single-post .blog-avatar{
    text-align:center;
    padding:1.84615384615em 0 15px;
}
.format-video object{
    /* Youtube Insert object at Press This */
    display:block;
    margin:auto;
    text-align:center;
}
/* oembed */
embed[src^="http://www.youtube.com/"],
embed[src^="http://v.wordpress.com/"],
embed[src^="//v.wordpress.com/"],
a[href^="https://www.flickr.com/"] img,
iframe[src^="https://embed-ssl.ted.com/"]{
    margin:auto;
    display:block;
    max-width:100%;
    max-height:100%;
    min-width:160px;
}
.oembed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}
.oembed-container .issuuembed{
   clear:both;
   max-height:100%;
}
.oembed-container iframe {
    border:none;
}
.oembed-container{
    margin:0;
}
.oembed-container iframe,
.oembed-container object,
.oembed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width:160px;
}
.oembed-container + *{
    margin-top:1em;
}
/* oembed end */
.entry-content blockquote blockquote{
    clear:both;
    margin:1em 0 1em 1em;
    padding:.5em;
    overflow:auto;
}
.entry-content cite {
    margin:0.2em .5em;
    padding:0 1em;
}
.entry-content table {
    width:100%;
    border-collapse:separate;
    border-spacing:0;
}
.entry-content table caption{
    margin:0 0 .5em 0;
}
/*
.entry-content  figure:not(.gallery-item),
.entry-content  *:not(.gallery) figure{
    clear:both;
}
*/
.entry-content  figure.aligncenter img{
    margin:.5em auto;
}
.entry-content  figure img{
    margin:auto;
    width:auto;
    max-width:calc(100% - 1em) ;
}
/**
 * Compatibility
 * html4 caption
 */
.entry-content  figure.wp-caption,
.entry-content  div.wp-caption{
    max-width:98%!important;
}
.comment-body blockquote blockquote {
    margin-left:0.5em;
    padding-left:1.5em;
    padding-bottom:2px;
    border-left:0.46153846153em solid;
}
.raindrops-pinup-entries .more-link-post-unique,
.poster-more-link .more-link-post-unique,
.entry-content .more-link-post-unique{
    display:none;
}
.comment-body blockquote blockquote blockquote{
    margin:0.2em;
}
dl {
    clear:both;
    margin:0 0 1em 1.5em;
    overflow:hidden;
}
dt {
    padding:.5em;
}
dd {
    margin:0 .5em 0 3em;
    padding:.5em;
}
tr,
table{
    max-width:100%;
    margin:auto;
}
table {
    display:table;
    box-sizing:border-box;
    table-layout:fixed;
    width:100%;
}
.gist-syntax table{
    table-layout:auto;
}
table.auto {
    table-layout:auto;
}
table.left,
td.right,
td.left{
    float:none!important;
}
table.center .left,
table.left td,
table td.left{
    text-align:left;
}
table.center td,
table td.center{
    text-align:center;
}
table td.right{
    text-align:right;
}
fieldset,
option,
select,
input,
textarea,
tr,
th,
td,
pre,
.hfeed > div,
body.search-results .hentry img,
#nav-above,
#nav-below,
.rd-col-1 #nav-status-bar,
.rd-col-1 #nav-above,
.rd-col-1 #nav-below,
.raindrops-image-page .image img,
.entry-content img,.hentry img,
.hentry object,.hentry embed,
ul.archive,
ul.index,
#calendar_wrap,
.wp-caption,
.format-status ul.categoryblog *,
.category-blog ul.categoryblog *,
.single-post-thumbnail img,
#header-image #site-title,
.widget select,
.widget_archive select,
.textwidget img,
.textwidget iframe,
.raindrops-category-posts a,
.raindrops-tag-posts,
.raindrops-recent-posts,
.rd-col-1 article,
.raindrops-toc-front a,
.mejs-audio,
.rsidebar .mejs-container,
.lsidebar .mejs-container,
.line img,
.unit .page-featured-template .wp-post-image,
#list-of-post,
.list-of-post-toggle .no-toggle-content,
.list-of-post-toggle .raindrops-toggle:not(.raindrops-toggle-title),
.widget a.post-group_by-category-title:not(.no-thumb),
.widget a.post-group_by-category-entry-title:not(.no-thumb),
.raindrops-pinup-entries img,
.raindrops-pinup-entries p img,
.raindrops-pinup-entries iframe,
.entry-content .gist .line-data,
.lang-not-ja,
.lang-ja,
.oembed-container:empty:after{
    max-width:100%;
}
pre{
    overflow:auto;
    padding-bottom:1em;	}
s, strike,del{
    text-decoration:line-through;
}
q:before{
    content:'\201C';
}
q:after{
    content:'\201D';
}
q q:before{
    content:'\2018';
}
q q:after{
    content:'\2019';
}
abbr{
}
/**
 * input
 */


.ie7 label,
.ie7 radio{
    float:left;
}
input[type="submit"]{
    cursor:pointer;
    display:inline-block;
}
input[type="checkbox"],
input[type="radio"],
select,
.entry-content label{
    margin:0 0.23076923076em;
}
option,
select{
    margin:auto;
}
input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="file"]{
    border:0.07692307692em solid;
}
.entry-content input{
    display:inline-block;
    margin:.5em 0;
}
.entry-content input[name="post_password"],
.entry-content input[type="checkbox"],
.entry-content input[type="radio"]{
   /* display:inline-block;*/
}
#searchform input[type="text"] {
    width:59%;
    display:inline-block;
}
.comment-form-url input,
.comment-form-email input,
.comment-form-author input{
    display:block;
}
.social input[type="submit"]{
    padding:2px 0.46153846153em;
}
.post-password-required input[type="submit"]{
    margin:0.38461538461em 0;
}
.rd-type-w3standard input[type="submit"]{
    padding:0.23076923076em 0.38461538461em;
}
.gradient-5 p,
.gradient-4 p,
.gradient-3 p,
.gradient-2 p,
.gradient-1 p,
.gradient1 p,
.gradient2 p,
.gradient3 p,
.gradient4 p,
.gradient5 p,
.color-5 p,
.color-4 p,
.color-3 p,
.color-2 p,
.color-1 p,
.color1 p,
.color2 p,
.color3 p,
.color4 p,
.color5 p{
    margin:0;
}
.entry-content .gradient-5,
.entry-content .gradient-4,
.entry-content .gradient-3,
.entry-content .gradient-2,
.entry-content .gradient-1,
.entry-content .gradient1,
.entry-content .gradient2,
.entry-content .gradient3,
.entry-content .gradient4,
.entry-content .gradient5,
.entry-content .color-5,
.entry-content .color-4,
.entry-content .color-3,
.entry-content .color-2,
.entry-content .color-1,
.entry-content .color1,
.entry-content .color2,
.entry-content .color3,
.entry-content .color4,
.entry-content .color5{
    display:inline-block;
}
html body.ja .hentry .entry-content .block,
html body.ja .hentry .entry-content .block,
div .entry-content .block,
article .entry-content .block{
    display:block;
}
#raindrops-recent-posts .entry-content{
    margin-top:.5em;
}
.entry-content .gallery{
    box-sizing:border-box;
}
.rd-type-dark .gallery img{
     border:1px solid #000;
   /* box-shadow */
    box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 6px 3px;
}
.rd-type-light .gallery img{
   border:1px solid #555;
   /* box-shadow */
    box-shadow:rgba(113, 135, 164, 0.5) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(113, 135, 164, 0.5) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(113, 135, 164, 0.5) 0px 0px 6px 3px;
}
.rd-type-minimal .gallery img{
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}
.gallery-columns-1 .gallery-item .gallery-icon,
.gallery-columns-1 .gallery-item .gallery-icon,
.gallery-columns-1 .gallery-item{
    float:none;
    width:100%
}
/*
.gallery-columns-1 dl dt img{
    margin:auto;
}*/
.gallery-columns-1 .gallery-item .gallery-icon img{
    margin:auto;
}
.gallery .gallery-item{
    clear:none;
    margin:0;
}
.gallery .gallery-caption {
  /*  line-height:1.3;
    text-align:center;*/
  line-height:1.7;
  text-align:left;
}
.category-gallery .size-thumbnail img {
    border: 0.76923076923em solid #f1f1f1;
    margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb{
    float:left;
    margin-right:1em;
    width:11.5384615385em;
    margin-top:0.3em;
}
.home #content .category-gallery .entry-utility {
    padding-top: 0.30769230769em;
}
.wp-smiley{
    margin: 0;
}
dl.my_tags dd,
dl.my_tags dt {
    float:left;
    line-height:2em;
}
dl.my_tags dd {
    width:60%;
    margin:6px 0 0;
}
dl.my_tags dt {
    clear:both;
    width:25%;
}
fieldset {
    margin:1em;
    padding:1em;
}
legend{
    padding:0.53846153846em 0.76923076923em;
}
li {
    margin-left:2em;
}
.raindrops-recent-posts li{
    /* for $raindrops_base_font_size bigger */
    margin-left:26px;
}
th {
    text-align:center;
    padding:.2em;
}
td {
    padding:.2em .5em;
    text-align:right;
}
address {
    text-align:center;
    margin:0.76923076923em auto;
}
div.hentry {
    padding:0;
    margin:1em;
}
.search-results,
.search-results > li{
    margin:0;
    padding:0;
}
.search-results > li{
    list-style:none;
}
.fail-search{
    margin-top:1.15384615385em;
}
body.search-results .hentry{
    margin-left:2.30769230769em;
}

div.entry h2,
div.entry h3 {
    clear:both;
}
div.nav-next {
    float:right;
    width:48%;
}
.nav-previous {
    float:left;
    width:48%;
}
li.question {
    background:url(./images/icon.png);
    background-position:-0.38461538461em -0.38461538461em;
    background-repeat:no-repeat;
    list-style-type:none;
    margin:0.15384615384em;
    padding:0.38461538461em 0.38461538461em 0.38461538461em 2.30769230769em;
}
.pagenate a {
    overflow:hidden;
    text-decoration:none;
    width:1.15384615385em;
    margin:0;
}
.pagenate a:hover {
    height:100%;
    text-decoration:none;
    width:100%;
}
table#month-list li,
table#year-list li,
table#date-list li {
    list-style-type:none;
}
table#month-list,
table#year-list,
table#date-list {
    width:90%;
    margin:1.15384615385em;
}
#searchform{
    margin:1em 0 1em 0.38461538461em;
}
table.company th.col2 {
    width:70%;
}
td.month-date,
td.month-name,
td.time {
    text-align:right;
    width:6.15384615385em;
}
.hentry li{
    margin-bottom:1em;
}
ul.all_entry {
    margin-top:1.53846153846em;
}
ul.all_entry h2 {
    margin-left:-2em;
    text-indent:1em;
}
ul.category {
    list-style:none;
    margin-left:1em;
}
ul.category li {
    line-height:2em;
    margin:0;
}
ul.sitemap {
    padding:0;
}
ul.sitemap li,
ul.archive li{
    list-style:none;
}
ul.sitemap ul li,
ul.archive ul li {
    list-style:none;
    padding:.5em 0;
}
#doc3{
    margin:0 2%;
}
#bigbanner {
    clear:both;
    overflow:hidden;
}
#categorywidget-4 {
    margin-left:0.38461538461em;
}
#commentform label {
    display:block;
}
.datetable{
    padding:0 0 0 0.76923076923em;
}
#date_title a,
.datetable a {
    display:inline;
    text-decoration:none;
}
#ft {
    padding-top:1.53846153846em;
    min-height:1.38461538462em;
}
.widget-wrapper{
    margin:0;
}
#ft .widget-wrapper{
    margin:auto;
    overflow:hidden;
}
#ft .widget-wrapper > ul{
    margin:1em 0;
}
#ft div.widget-wrapper>ul>li{
    padding:.5%;
    width:32.3%;
    float:left;
    display:inline-block;
    margin:auto;
}
#ft .footer-widget h2{
    background-repeat:no-repeat;
}
@media screen and (max-width: 680px) {
    #ft div.widget-wrapper>ul>li{
        padding:0.5em;
    }
}
#ft div.widget-wrapper>ul>li:nth-child(3n+1){
    clear:left;
    margin-left:0;
}
#ft div.widget-wrapper ul li ul li{
    display:block;
}
.widget-wrapper ul,.widget-wrapper li{
    margin:0;
    padding:0;
}
.footer-widget{
    width:33.3%;
    display:inline-block;
}
.ie8 .footer-widget{
    float:left;
}
.ie8 .footer-widget ul{
    list-style:none;
    margin:4%;
    width:92%;
}
.ie8 .footer-widget .widgettitle{
    margin:4%;
    width:92%;
}
.footer-widget ul{
    margin:0 0.76923076923em;
}
.footer-widget ul li{
    line-height:2;
}
.debug .footer-widget{
    border:0.07692307692em solid #ccc;
}
.footer-widget h2{
    width:100%;
    clear:both;
    text-indent:0.3em;
}
div#ft a,
footer a{
    text-decoration:none;
}
#hd {
    overflow:hidden;
    padding:.5em 1em;
    min-height:5em;
}
#hideAll {
    background-position:-0.38461538461em -125px;
    background-repeat:no-repeat;
    height:1.84615384615em;
    width:15.3846153846em;
}
#map_canvas {
    overflow:hidden;
}
#nav-above,
#nav-below {
    margin:0;
}
.rd-col-1 #nav-status-bar,
.rd-col-1 #nav-above,
.rd-col-1 #nav-below {
    margin:0 0.76923076923em;
}
#nav-above{
    margin-top:0.53846153846em;
}
.nav-next{
    text-align:right;
}
/* Firefox 2 and older */
.nav-previous,
.nav-next > span{
    display:block;
    max-width:48%;
    overflow:hidden;
}
#showAll {
    background-position:-0.38461538461em -8.07692307692em;
    background-repeat:no-repeat;
    height:1.84615384615em;
    width:8.46153846154em;
}
#showAll span,
#hideAll span {
    margin-left:15px;
}
.lsidebar,
.rsidebar {
    overflow:hidden;
}
.rsidebar{
    margin-right:0.38461538461em;
}
.yui-t4 .rsidebar,
.yui-t5 .rsidebar,
.yui-t6 .rsidebar{
    margin-left:0.76923076923em;
    margin-right:0;
}
.yui-t1 .rsidebar,
.yui-t2 .rsidebar,
.yui-t3 .rsidebar{
    margin-right:0.38461538461em;
}
.lsidebar{
    margin-left:0.23076923076em;
}
.rd-type-light .lsidebar{
    margin-left:0.46153846153em;
}
.rd-type-light .yui-t4 .lsidebar,
.rd-type-light .yui-t5 .lsidebar,
.rd-type-light .yui-t6 .lsidebar{
    margin-right:0.46153846153em;
    margin-left:0;
}
.rsidebar > ul > li,
.lsidebar > ul > li{
    margin:0;
    padding:0;
}
.lsidebar ul li,
.rsidebar ul li{
    list-style-type:none;
    line-height:1.5;
}
.lsidebar li a,
.rsidebar li a{
    width:90%;
    line-height:1.4;
    margin-top:0.3em;
}
.lsidebar li.page_item a,
.lsidebar .widget ul li a {
    margin-top:0.3em;
}
/* ie8 list child display:block; list-marker break issue */
.ie8 .lsidebar li.page_item a,
.ie8 .lsidebar .widget ul li a {
    display:inline;
}
.lsidebar li.page_item,
.lsidebar .widget ul li {
    min-height:2em;
}
.footer-widget h2,
.rsidebar h2,
.lsidebar h2,
.widgettitle h2,
h2.footer-content {
    height:17px;
    text-indent:.5em;
    padding:2px 0 8px;
    margin-bottom:0.76923076923em;
}
.lsidebar h2 ul li ul{
    margin-top:-0.15384615384em;
}
.answer {
    background:url(./images/icon.png);
    background-position:-0.38461538461em -155px;
    background-repeat:no-repeat;
    list-style-type:none;
    margin:0.15384615384em;
    padding:0.38461538461em 0.38461538461em 0.38461538461em 2.30769230769em;
}
.raindrops-image-page .image img{
    height:auto;
}
.raindrops-image-page .caption dl{
    margin:0;
    padding:0;
}
.raindrops-image-page .caption dd{
    clear:both;
  /*  margin:0!important;
    padding:0!important;*/
   margin:0;
    width:100%;
}
.entry-title {
    clear:both;
    margin-bottom:0;
}
div.entry-content{
    margin:1.6em 0 0 0;
}
.entry-content img,.hentry img{
    height:auto;
    box-sizing: border-box;
}

.blogrolls dd,
#site-description {
    text-align:right;
}
#site-description {
    max-width:24%;
}
.entry-utility {
    clear:both;
    text-align:center;
}
.entry-meta{
    line-height:1.6;
    margin:1em 0;
    text-align:center;
}
.fail-search,
#not-found {
    padding:2em;
}
.desc {
    padding-left:2em;
}
.page-link {
    text-align:center;
    margin:1em;
}
ul.archive,
ul.index {
    margin:.5em 0;
}
ul.blank-front{
    margin-left:1em;
}
ul.archive > li,
ul.index > li {
    list-style:none;
    clear:both;
    display:block;
    margin:0;
    padding:0;
}
ul.archive li .date,
ul.index li .date {
    width:13em;
    float:left;
}
ul.archive li .edit,
ul.index li .edit {
    float:right;
    margin:0 2em;
}
.entry-content ul li{
}
.entry-content li > ol,
.entry-content li > ul{
    margin-top:1em;
}
.page .hentry .entry-content {
    margin-top:2em;
}
.itiran {
    padding:0.76923076923em;
}
.itiran a {
    text-decoration:none;
    padding:0.76923076923em;
}
.pagenate {
    clear:both;
    text-align:center;
    margin:0 auto;
}
.pagenate:before{
    content:'.';
    display:block;
    clear:both;
    visibility:hidden;
}
.pagenate a span {
    background:none;
    border:0.07692307692em solid #999;
    overflow:hidden;
    padding:0 15px;
}
.pagenate span {
    background:#fff;
    border:0.23076923076em solid #555;
    color:#555;
    overflow:hidden;
    padding:0 1.15384615385em;
}
.sitemap {
    min-height:100px;
    margin:.5em;
}
.sitemap.new li {
    list-style:none;
    width:100%;
    padding:.5em;
}
.topsidebar {
    overflow:hidden;
    width:99%;
    margin-right:1%;
}
.topsidebar li{
    list-style:none;
    margin-left:0;
}
.topsidebar ul li ul li a,
#bigbanner ul li ul li a,
.lsidebar ul li ul li a,
.rsidebar ul li ul li a {
    height:100%;
    text-decoration:none;
    width:100%;
    vertical-align:top;
}
.topsidebar ul li ul li,
#bigbanner ul li ul li,
.lsidebar ul li ul li,
.rsidebar ul li ul li {
    list-style-position:outside;
    list-style-type:none;
    min-height:2em;
    margin:0 0 0 0;
    padding:.3em 0 0 .5em;
}
.topsidebar ul,
#bigbanner ul,
.lsidebar ul,
.rsidebar ul,
.topsidebar ul {
    list-style:none;
    margin:0;
    padding:0;
}
#doc5 #container.yui-gc > .yui-u:not(.first),
#doc4 #container.yui-gc > .yui-u:not(.first),
#doc3 #container.yui-gc > .yui-u:not(.first){
    width:33%;/* 1.254 change from 35% to 33% */
    margin:0;
}
.lsidebar > ul{
    margin:0 0.38461538461em;
}
.rd-type-light .lsidebar > ul{
    margin:0;
}
.social {
    clear:both;
    margin:10em 1em 1em;
    padding:1em;
    text-align:center;
}
.entry-content textarea,
.social textarea {
    width:100%;
    margin:0 auto;
}
.social .required{
    display:inline-block;
    margin:0 1em;
}
.comment-form-email label,
.comment-form-author label{
    min-width:7.69230769231em;
}
.comment-form-url span,
.comment-form-email span,
.comment-form-author span{
    width:5.38461538462em;
    min-width:5.38461538462em;
}
.comment-form-url label,
.social .option{
    display:inline-block;
    margin:0;
    width:4em;
    min-width:0;
}
.commentlist{
    margin:1.92307692308em 0 0 0;
}
#respond{
    text-align:left;
    margin:0;
}
#respond textarea{
    display:block;
    width:100%;
}
ol.commentlist >li{
    list-style:none;
    margin:0 0 0.15384615384em 0;
    padding:0;
}
.commentlist ul li{
    list-style:none;
}
.commentlist .pingback{
    padding:0 0 0 1em;
}
.comment-author img{
    float:left;
}
.comment-author .fn{
}
.comment-meta{
}
.comment-body{
    margin:1em;
    padding:0.23076923076em;
    clear:both;
}
.comment-body table{
    width:100%;
}
.comment-body ul li{
    list-style-type:disc;
}
.comment-body ul ul li{
    list-style-type:square;
}
.comment-body ul ul ul li{
    list-style-type:circle;
}
.comment-notes{
}
.comment-notes .required{
    width:1em;
    margin:0;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {
    min-height:1%;
    display:block;
}
.ie6 .clearfix {
    height:1%;
}
.debug .rsidebar,
.debug .lsidebar{
    border:0.07692307692em solid #000;
}
.debug .entry-title {
    background:#ccc;
}
.debug .entry-content {
    background:orange;
}
.debug h1 {
    border:0.07692307692em solid red;
}
.debug .h1 {
    border:0.07692307692em solid navy;
}
dl a,
.category a,
#top a,
table#month-list a,
div.entry h2 a,
table#month-list a {
    text-decoration:none;
}
.hentry,
.breadcrumb,
.social {
    margin:0.23076923076em;
}
.debug .hentry {
    border:0.07692307692em solid #ccc;
}
iframe{
    max-width:100%;/* For auto embed media width controll*/
    max-height:100%;
    display:block;
    margin:auto;
}
#yui-main .twitter-tweet-rendered{
    max-width:100%!important;/* For auto embed tweet width controll */
    margin:auto!important;
    display:block!important;
}
hr,
div.attachment {
    border:none;
    /*margin:1em;*/
}
#date_title,
.page-title{
    margin-left:0.76923076923em;
}
.datetable h2,
#date_title{
    margin-left:0;
}
#ft a,
/*#top *,*/
.category32,
.archive li a,
.page .hentry .entry-title a,
.archive.category h2 a {
    background:none;
}
#nav li ul,
br.clearfix {
    display:none;
}
.left{
    float:left;
}
#nav-status-bar  .nav-previous,
#nav-above .nav-previous,
#nav-below .nav-previous,
.list-of-post-next-prev .left {
    float:left!important;
}
.list-of-post-next-prev .right {
    float:right;
}
#nav-status-bar .nav-next,
#nav-above .nav-next,
#nav-below .nav-next,
.list-of-post-next-prev .right  {
    display:block;
}
.attachment .caption dd,
.attachment .caption dt,
.vevent {
    padding:1em;
}
.debug .entry-meta,
.blogrolls dd,
.debug #site-description,
.debug #site-title,
.debug .entry-utility {
    background:#acc;
}
#calendar_wrap{
    text-align:center;
    margin-left:0.15384615384em;
}
#calendar_wrap table{
    margin:0 auto;
}
#calendar_wrap a{
    margin:0;
    padding:0;
}
#wp-calendar caption{
    margin:.3em 0;
}
#wp-calendar a{
    text-decoration:underline;
    white-space:nowrap;
}
#wp-calendar tfoot td{
    border:none;
}
#wp-calendar tfoot #prev{
    text-align:left;
}
.widget form{
    text-align:center;
}
#top{
    padding-bottom:0.38461538461em;
    position:relative;
}
#site-title{
    display:inline-block!important;
    max-width:74%;
}

#site-description {
    position:absolute;
    top:0.76923076923em;
    right:0.76923076923em;
}
/* wp_nav_menu settings */
#access {
    display: block;
    float: left;
    width:99%;
    margin-left:0.5%;
    margin-top:0.38461538461em;
}
#access ul{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
div.menu ul,
#access li{
    margin:1px 0;
    list-style-type:none;
    /* each link width here example width:12em; or display:inline-block; and percent width, example width:16%; */
    /* text-align:center here example text-align:center; */
}
#access ul ul li,
#access ul ul,
#access a{
       min-width:10em;
}
#access a {
    display: block;
    line-height: 3em;
    padding: 0 0.4em;
    text-decoration: none;
    border-left:1px solid rgba( 222,222,222,.2);
    text-align:center;
    position:relative;
    /* link text font size here */
}
#access .page_item_has_children > a:after,
#access .menu-item-has-children > a:after{
    content:'\bb';
    transform: rotate( 90deg );
    margin:1em;
    right:0;
    top:-1em;
    position:absolute;
}
.ie8 #access .page_item_has_children > a:after,
.ie8 #access .menu-item-has-children > a:after{
    content :'x';
    color:red;
}
#access .children .page_item_has_children > a:after,
#access .sub-menu .page_item_has_children > a:after,
#access .children .menu-item-has-children > a:after,
#access .sub-menu .menu-item-has-children > a:after{
    content:'\bb';
    transform: none;
    top:-.3em;
}
.ie9 #access .children .page_item_has_children > a:after,
.ie9 #access .sub-menu .page_item_has_children > a:after,
.ie9 #access .children .menu-item-has-children > a:after,
.ie9 #access .sub-menu .menu-item-has-children > a:after{
    content :'x';
    color:red;
}
#access .menu-header li,
div.menu li {
    float: left;
    position: relative;
    padding:0;
}
#access .menu-header li a,
div.menu li a{
    margin:0;
    width:100%;
    display:block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body.raindrops-accessible-mode  #access ul ul,
body.enable-keyboard #access ul ul{
    display:block!important;
}
body #access ul ul{
    display:none;
}
#access ul ul {
    display: none;
    position: absolute;
    /*top: 3em; *//* If set linktext font-size, example #access a {font-size:123.1%} then this value 3em * 1.231 */
    left: 0;
    float: left;
    z-index: 99;
    text-align:center;
    left:-9000px;
}
.ie8 #access ul ul{
    display:block;
}
#access ul ul li {
    margin:0;
}
.enable-keyboard #access li.focus > a + ul,
.raindrops-accessible-mode #access li.focus > a + ul{
    left:auto;
    z-index:9999;
    opacity:1;
}
.enable-keyboard #access li:not(.focus)  a + ul,
.raindrops-accessible-mode #access li:not(.focus)  a + ul{
    text-indent:-9999px;
}
.enable-keyboard #access li:not(.focus) li,
.raindrops-accessible-mode #access li:not(.focus) li{
    border:none!important;
    background:none!important;
}
.enable-keyboard #access li:not(.focus) li a,
.raindrops-accessible-mode #access li:not(.focus) li a{
    opacity: 1;
}
.widget_categories .category-widget-select-box,
.raindrops-accessible-mode  #access li:not(.focus) li,
.enable-keyboard #access li:not(.focus) li{
        clip: rect(0.07692307692em, 0.07692307692em, 0.07692307692em, 0.07692307692em);
        position:absolute;
        }
.raindrops-accessible-mode  #access li:hover li,
.enable-keyboard #access li:hover li{
        clip:auto;
        position:relative;/* 1.251 static to relative */
}
.raindrops-accessible-mode  #access  .menu.focus a + .sub-menu,
.raindrops-accessible-mode #access  .menu.focus a + .children,
.enable-keyboard #access  .menu.focus a + .sub-menu,
.enable-keyboard #access  .menu.focus a + .children {
    background:none;
}
.raindrops-accessible-mode #access  .sub-menu a:not(.focus),
.raindrops-accessible-mode #access  .children a:not(.focus),
.raindrops-accessible-mode #access li:not(.focus) li a a,
.enable-keyboard #access  .sub-menu a:not(.focus),
.enable-keyboard #access  .children a:not(.focus),
.enable-keyboard #access li:not(.focus) li a a,
.enable-keyboard #access li:not(.focus) li a li,
.raindrops-accessible-mode #access li:not(.focus) li a li{
    opacity:0;
}
.raindrops-accessible-mode  #access .menu.focus li:first-child a,
.raindrops-accessible-mode  #access .sub-menu.focus a,
.raindrops-accessible-mode  #access .children.focus a,
.enable-keyboard #access  .menu.focus li:first-child a,
.enable-keyboard #access  .sub-menu.focus a,
.enable-keyboard #access  .children.focus a,
.enable-keyboard #access .menu-item-has-children:hover  > ul > li > a,
.raindrops-accessible-mode #access .menu-item-has-children:hover  > ul > li > a{
    opacity: 1.0;
}
#access:target li a{
    opacity: 1.0!important;
    display:block;
    text-indent:1em;
}
#access ul > li:hover > ul{
    left:auto;
    text-indent:0!important;
}
.enable-keyboard #access .children .children,
.enable-keyboard #access .sub-menu .sub-menu,
.enable-keyboard #access ul ul ul,
.raindrops-accessible-mode #access .children .children,
.raindrops-accessible-mode #access .sub-menu .sub-menu,
.raindrops-accessible-mode #access ul ul ul {
    left: 100%;
    top: -0.07692307692em;
    text-align:center;
}
#access .children .children,
#access .sub-menu .sub-menu,
#access ul ul ul {
    left: 100%;
    top: -0.07692307692em;
    text-align:center;
}
#access ul ul ul.left {
    left: -100%;
    top: -0.07692307692em;
    text-align:center;
}
#access ul ul a {
    line-height: 1em;
    padding:0.8em 0;
    height: auto;
}
#access ul li:hover > ul {
    display:block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
    margin:0;
    width:100%;
    height:100%;
}
#access .menu-header,
div.menu{
    margin: 0 auto;
}
#access .menu-header,
div.menu {
    margin-left: 1%;
    width: 99%;
}
#access .menu-header ul,
div.menu ul {
    list-style: none;
    margin: 0;
}
div.menu li {
    float: left;
    position: relative;
}
#access .current_page_item{
}
.ie8 #access .menu-header li,
.ie8 div.menu li {
  display:block!important;
    text-indent:0;
    opacity:1!important;
    clip:auto!important;
    position:static!important;
    text-align:left;
    border:none!important;
}
.ie8 div.menu li:hover + ul > li,
.ie8 div.menu li:hover + ul{
    display:block!important;
    opacity:1;
    filter: alpha(opacity=100);
    text-indent:0;
}
.ie8 #access .menu-header li a,
.ie8 div.menu li a{
   display:block;
   height:auto!important;
}
/* Text meant only for screen readers */
.screen-reader-text,
a:link.screen-reader-text,
a:visited.screen-reader-text,
a:hover.screen-reader-text{
    position: absolute;
    clip: rect(0.07692307692em, 0.07692307692em, 0.07692307692em, 0.07692307692em);
    color:#000;
    background:#fff;
}
a.screen-reader-text:active,
a.screen-reader-text:focus {
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba( 0, 0, 0, .6 );
    clip: auto;
    color: #21759b;
    display: block;
    font-size: 108%;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 1.15384615385em 1.76923076923em 1.15384615385em;
    position: absolute;
    left: 0.38461538461em;
    top: 0.38461538461em;
    text-decoration: none;
    text-transform: none;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}
table#wp-caledar td a{
    text-align:right;
}
/* wordPress native */
.entry-content > img{
    padding:0.76923076923em 0.76923076923em 0 0;
}
.page-featured-image,
img.aligncenter,
.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0.76923076923em;
}
.page-featured-image{
    padding:0;
}
div.alignleft,
img.alignleft,
.alignleft {
    float: left;
    padding:0.38461538461em 0.76923076923em 0.15384615384em 0;
}
div.alignright,
img.alignright,
.alignright {
    float: right;
    padding:0.38461538461em 0 0.38461538461em 0.76923076923em;
}
.size-thumbnail{
    padding:.5em;
}
figure .size-thumbnail{
    padding:0;
}
.wp-caption {
    border: 0.07692307692em solid #ddd;
    text-align: center;
    padding:0.38461538461em 0.15384615384em 0 0.15384615384em;
    height:auto;
}
.wp-caption.alignnone{
    float: none;
    margin: 0.38461538461em 0.76923076923em 0.38461538461em 0;
    padding: 0.38461538461em 0 0 0;
}
.wp-caption.alignleft{
    float: left;
    margin: 0.38461538461em 0.76923076923em 0.38461538461em 0;
    padding: 0.38461538461em 0 0 0;
}
.wp-caption.alignright{
    float:right;
    margin: 0.38461538461em 0 0.38461538461em 0.76923076923em;
    padding: 0.38461538461em 0 0 0;
}
.wp-caption.aligncenter{
    margin: 0.38461538461em auto;
    display: block;
    padding:0;
}
.wp-caption.aligncenter a img{
    margin:0.38461538461em 0.38461538461em 0.38461538461em 0.38461538461em;
    max-width:98%;
}
.wp-caption.aligncenter a[rel~="attachment"] img{
    margin:0.38461538461em 0 0 0;
}
.wp-caption-text{
    max-width: calc(100% - 1em);
    display:block;
    margin:auto;
    text-align:left;
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    padding: 0 0.30769230769px 0.38461538461em;
    margin: 0;
}
li.byuser,
.bypostauthor{
    background:url(images/bg.png);
    background-repeat:repeat-x;
}
.shadow{
    margin:2em;
    padding:1em;
    border:0.07692307692em solid #ccc;
}
/**
 * category controlled layout
 *
 *
 *
 *
 */
.format-status .post-format-status-main,
.format-status .post-format-status-main,
.format-status div.blog-main,
.category-blog div.blog-main{
    overflow:hidden;
    width:68%;
}
.format-status .entry-title,
.category-blog .entry-title{
    border:none;
    margin:.5em 0;
    padding:0;
}
.format-status .entry-content,
.category-blog .entry-content{
    border:none;
    margin:1.53846153846em 0 0 0;
    padding:0;
    text-indent:0;
}
.format-status .entry-meta-list,
.category-blog .entry-meta-list{
    list-style:none;
    width:29%;
    margin:0 1% 0 0!important;
    padding:0!important;
    text-align:left;
    overflow:hidden;
    max-width:13.8461538462em;
}
.format-status .vcard .url .fn,
.category-blog .vcard .url .fn{
    display:none;
}
.format-status ul.categoryblog *,
.category-blog ul.categoryblog *{
    overflow:hidden;
    line-height:2;
    margin:0;
}
.status-side-bar div,
.status-side-bar ul,
.status-side-bar ol,
.format-status-widget div,
.format-status-widget ul,
.format-status-widget ol,
.category-blog-widget div,
.category-blog-widget ul,
.category-blog-widget ol{
    margin:0!important;
}
.format-status #categoryblog .widget,
.category-blog #categoryblog .widget{
}
.format-status .entry-meta-list .category-blog-publish-date,
.format-status .entry-meta-list .post-format-status-publish-date,
.format-status .entry-meta-list .blog-avatar,
.format-status .entry-meta-list .post-format-status-avatar{
    text-align:center;
    list-style:none; /*firefox 8*/
    margin-bottom:0.76923076923em;
}
.format-status .entry-meta-list .author,
.category-blog .entry-meta-list .author{
    display:inline;
}
.format-status .entry-meta-list li,
.category-blog .entry-meta-list li{
    padding:0;
    list-style:none;
    margin:0;
}
.format-status .entry-meta-list span,
.format-status .entry-meta-list  a,
.category-blog .entry-meta-list span,
.category-blog .entry-meta-list  a{
    display:block;
    text-decoration:none;
}
.format-status .entry-meta-list a,
.category-blog .entry-meta-list a{
    display:inline;
}
.post-format-status-publish-date,
.category-blog-publish-date{
    margin:1em 0!important;
}
.format-status .avatar,
.category-blog .avatar{
    margin-bottom:1em;
}
/* add*/
.single-post-thumbnail{
    margin-left:0.23076923076em;
    width:99%;
    overflow:hidden;
    text-align:center;
    margin-top:1em;
}
.single-post-thumbnail img{
    height:auto;
}
.home .sticky {
    padding: 0 1.53846153846em 0 1.53846153846em;
    background:url(images/sticky.png);
}
.rd-type-minimal .sticky .entry-title{
    padding-top:.3em;
}
.home .sticky .entry-meta{
    border:none!important;
}
.home .sticky .posted-on{
    display:none;
}
.home #container{
    margin:0;
}
ul.archives .title-wrapper{
    margin:2em 0;
}
#archives-title{
    display:block;
    text-align:center;
}
/* YUI nest grid add*/
#nest .yui-ga,
#nest .yui-gb,
#nest .yui-gc,
#nest .yui-gd,
#nest .yui-ge,
#nest .yui-gf{
    min-height:1%;
    display:block;
}
#nest.yui-gf,
#nest.yui-ge,
#nest.yui-gd,
#nest.yui-gc,
#nest.yui-g{
    width:100%;
}
#nest.yui-gf .yui-u{
    width:73%;
}
#nest.yui-gf .first{
    width:23%;
}
#nest.yui-gc .yui-u{
    width:33%;
}
#nest.yui-gc .first{
    width:64%;
}
#nest.yui-gb .yui-u{
    width:32%;
}
#nest.yui-gb .yui-u{
    width:32%;
}
#nest:after{
    content:".";
    display:block;
    height:0;
    clear:both!important;
    visibility:hidden;
}
div.nest.yui-g,
div.nest.yui-gb,
div.nest.yui-gc,
div.nest.yui-gd,
div.nest.yui-ge,
div.nest.yui-gf{
    min-height:1%;
    display:block;
}
div.nest.yui-gf,
div.nest.yui-ge,
div.nest.yui-gd,
div.nest.yui-gc,
div.nest.yui-g{
    width:100%!important;
}
div.nest.yui-gf .yui-u{
    width:73%!important;
}
div.nest.yui-gf .first{
    width:23%!important;
}
div.nest.yui-gc .yui-u{
    width:33%!important;
}
div.nest.yui-gc .first{
    width:64%!important;
}
div.nest.yui-gb .yui-u{
    width:32%!important;
}
div.nest.yui-gb .yui-u{
    width:32%!important;
}
div.nest :after{
    content:".";
    display:block;
    height:0;
    clear:both!important;
    visibility:hidden;
}
.debug #nest.yui-g .yui-u,
.debug #nest.yui-gb .yui-u,
.debug #nest.yui-gc .yui-u,
.debug #nest.yui-gd .yui-u,
.debug #nest.yui-ge .yui-u,
.debug #nest.yui-gf .yui-u{
    background:#ccf;
}
.debug #nest.yui-g .first,
.debug #nest.yui-gb .first,
.debug #nest.yui-gc .first,
.debug #nest.yui-gd .first,
.debug #nest.yui-ge .first,
.debug #nest.yui-gf .first{
    background:#aaf;
}
/* nest*/
br.clear{
    clear:both!important;
}
#month_list,#raindrops_year_list,#date_list{
    width:100%;
}
#raindrops_year_list td{
    padding:1em 0;
}
#date_list td{
    padding-left:1em;
}
#raindrops_year_list .month-name a,
#month_list .day-name a{
    background:inherit;
    display:block;
    width:100%;
    height:100%;
}
.h2-thumb{
    margin-right:0.3em;
}
body.page .nocomments{
    display:none;
}
.yui-g,.gecko .yui-gf{
    width:100%!important;
    position:relative;
    left:0;
}
.yui-g{
    margin:0;
}
.yui-gb div.yui-u{
    width:32%;
}
div.yui-gf,
div.yui-ge,
div.yui-gd,
div.yui-gc,
div.yui-gb,
div.yui-g{
    width:100%!important;
}
div.nest :after{
    content:".";
    display:block;
    height:0;
    clear:both!important;
    visibility:hidden;
}
.gecko .post .yui-gf{
    /*margin-left:2.6%;*/
}
.post .yui-gf  div.first{
    width:24%;float:left;
}
.post .yui-gf  .yui-u {
    width:74%;float:right;
}
.post .yui-ge div.first{
    width:74%;float:left;
}
.post .yui-ge .yui-u {
    width:24%;float:right;
}
div.post .yui-gc div.first{
    width:66%;
}
div.post .yui-gc .yui-u{
    width:32%;
}
.gecko div.page .yui-gf{
    /*margin-left:2.6%;*/
}
.gecko div.page  .yui-gc div.first{
    width:66%;
}
.gecko div.page  .yui-gc .yui-u{
    width:32%;
}
.gecko div.page .yui-gf  .yui-u {
    width:74%;float:right;
}
.gecko div.page .yui-gf  div.first{
    width:24%;
    float:left;
}
.gecko div.page .yui-ge div.first{
    width:74%;
    float:left;
}
.gecko div.page .yui-ge .yui-u {
    width:24%;
    float:right;
}
.chrome div.page .yui-gf  div.first{
    width:24%;
    float:left;
}
.chrome div.page .yui-gf  .yui-u {
    width:74%;
    float:right;
}
.ie8 div.page  .yui-gc div.first{
    width:66%;
}
.ie8 div.page  .yui-gc .yui-u{
    width:32%;
}
.ie8 div.page .yui-gf  .yui-u {
    width:74%;
    float:right;
}
.ie8 div.page .yui-gf  div.first{
    width:24%;
    float:left;
}
.ie8 div.page .yui-ge div.first{
    width:74%;
    float:left;
}
.hide{
    display:none!important;
}
/**
 * comment
 */
.raindrops-comment-link{
    margin:0 0 0 2em;
}
.raindrops-comment-string{
    margin:0 .5em 0 0;
}
li.comment {
}
.comment-meta{
    text-align:right;
}
.entry-meta a,
.comment a{
    background:none!important;
}
/*
.sub-menu,
.children{
    margin-left:0;
}
.children li{
    padding-top:2px;
}*/
.commentlist .pingback p,
.commentlist .comment-body,
.commentlist .reply,
.commentlist .raindrops-comment-author-meta,
.commentlist .comment-meta{
    top:-25px;
    margin-bottom:0.3em;
}
.ie8 .commentlist .pingback p{
    top:0;		/*ie*/
}
.form-allowed-tags code{
    padding:.5em;
    display:block;
}
.comment-meta{
    background:none;
}
.comment-author{
}
.raindrops-comment-avatar{
    width:40px;float:left;
}
.raindrops-comment-author-meta{
    margin-left:50px;
    padding:0;
}
.comment > div{
    padding:0.23076923076em;
}
.commentmetadata{
    overflow:hidden;
    padding-right:1em;
}
.ie7 .commentmetadata{
    width:100%;
}
#comments .nopassword,
#comments .nocomments{
    text-align:center;
    margin:2em 0;
}
#header-image{
    position:relative;
    overflow:hidden;
}
/* 1.277 style change
#header-image p{
    position:relative;
    top:45%;
    text-align:center;
}*/
#header-image p{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display:block;
        height:1.6em;
        margin: auto;
        width:80%;
}
/* for test
.rd-type-dark #header-image p{
        background: -webkit-gradient(linear, left top, right top, from( rgba(0,0,0,0) ), color-stop(50%, rgba(0,0,0,.8)),to(rgba(0,0,0,0)));
}
.rd-type-light #header-image p{
        background: -webkit-gradient(linear, left top, right top, from( rgba(0,0,0,0) ), color-stop(50%, rgba(255,255,255,.8)),to(rgba(0,0,0,0)));
        box-shadow:rgba(113, 135, 164, 0.65) 0px 0px 6px 0;
        -webkit-box-shadow:rgba(113, 135, 164, 0.65) 0px 0px 6px 0;
        -moz-box-shadow:rgba(113, 135, 164, 0.65) 0px 0px 6px 0;
}
*/
.datetable{
    margin-bottom:1em;
}
.datetable a:hover{
    text-decoration:underline;
}
.datetable td ul{
    padding:0;
    margin:0;
}
#date_list td a,
.datetable td li{
    list-style:none;
    padding:.5em .5em .5em 1em;
    margin:0;
}
#date_list td a{
    background:none;
    display:block;
}
#month_list td.month-date,
.datetable td.month-name{
    padding:0 0.3em 0 0;
}
/*author.php*/
.author .avatar-col{
    text-align:left;
}
.author-meta tr,
.author .author-meta .avatar-col .avatar{
   /* opacity:1!important;*/
}
.author-meta .avatar-col{
    width:60px;
    vertical-align:top;
}
.author-meta dl.author{
    margin:0;padding:0;
}
dl.author dt > a{
    position:relative;
    top:-.5em;
}
#header-image{
    clear:both;
    width:100%;
    background-repeat:no-repeat;
    background-position:top center;
}
#comments .form-allowed-tags:before,
#comments .nopassword:before,
#comments .nocomments:before,
.comment-notes:before,
.logged-in-as:before{
    margin-right:.5em;
    content:" ";
    display:inline-block;
    width:16px;
    height:16px;
    background-size:cover;
    vertical-align:text-bottom;
    background: url("images/info.png");
}
#respond .required,
.comment-form-email .required,
.comment-form-author .required,
.comment-notes .required{
    text-indent:6em;
    width:16px;
    height:16px;
    overflow:hidden;
    display:inline-block;
    background:url("images/require.png");
    background-repeat:no-repeat;
    background-size:16px 16px;
}
.error404 .entry-title:before{
    content:" ";
    display:inline-block;
    width:16px;
    height:16px;
    background-size:cover;
    background: url("images/stop.png");
}
address .raindrops-accessibility-link:after{
    margin:0 .5em;
    content:" ";
    display:inline-block;
    width:16px;
    height:16px;
    background-size:cover;
    vertical-align:text-bottom;
    background: url("images/accessibility.png");
}
address .comments-rss:after,
address .entry-rss:after{
    margin:0 .5em;
    content:" ";
    display:inline-block;
    width:16px;
    height:16px;
    background-size:cover;
    vertical-align:text-bottom;
    background: url("images/rss.png");
}
/* post format */
.format-link .entry-content{
    display:table;
    width:100%;
}
.entry-meta-link{
    text-align:right;
}
.entry-meta-link .meta-prep-author,
.entry-meta-link .meta-prep-author + a,
.entry-meta-link .posted-by-string,
.entry-meta-link .author,
.format-link .entry-title{
    display:none;
}
/* WordPress4.0 Press this link not wrapped p*/
.format-link .entry-content  a:first-of-type,
.format-link .entry-content p:first-of-type a{
    display:table-cell;
    text-align:center;
    height:100px;
    vertical-align:middle;
    width:800px;
    max-width:100%;
    background: url("images/sticky.png");
}
/* WordPress4.0 Press this link not wrapped p*/
.format-link .entry-content  a:first-of-type:before,
.format-link .entry-content p:first-of-type a:before{
    display:inline-block;
    width:24px;
    height:24px;
}
.post-format-text{
    margin:0 .5em 0 2em;
}
.post-format-content{
    text-align:center;
    margin:auto;
}
article:not(.raindrops-empty-content) .entry-meta-default .raindrops-comment-link,
div:not(.raindrops-empty-content) .entry-meta-default .raindrops-comment-link{
    margin-right:0;
    position:static;
    text-align:left;
}
.raindrops-empty-content .entry-meta-gallery,
.raindrops-empty-content .entry-meta-audio,
.raindrops-empty-content .entry-meta-aside,
.raindrops-empty-content .entry-meta-chat,
.raindrops-empty-content .entry-meta-link,
.raindrops-empty-content .entry-meta-image,
.raindrops-empty-content .entry-meta-quote,
.raindrops-empty-content .entry-meta-video {
    text-align:right;
}
/* post format chat */
.raindrops-chat-text + *,
.raindrops-chat-text-after,
.raindrops-chat-text{
    margin-left:4em;
}
.raindrops-chat{
    margin:0;
}
.raindrops-chat:before{
    margin:0 0.76923076923em;
    content:" ";
    display:inline-block;
    width:13px;
    height:13px;
    background-size:cover;
}
.raindrops-chat-author-0:before{
    background-image: url('images/raindrops-chat-author-0.png');
}
.raindrops-chat-author-1:before{
    background-image: url('images/raindrops-chat-author-1.png');
}
.raindrops-chat-author-2:before{
    background-image: url('images/raindrops-chat-author-2.png');
}
.raindrops-chat-author-3:before{
    background-image: url('images/raindrops-chat-author-3.png');
}
.raindrops-chat-author-4:before{
    background-image: url('images/raindrops-chat-author-4.png');
}
.raindrops-chat-author-5:before{
    background-image: url('images/raindrops-chat-author-5.png');
}
.icon-post-format-notitle,
.icon-link-no-title{
    display:inline-block;
    width:24px;
    height:24px;
    background-repeat:no-repeat;
}
.icon-link-no-title{
    background: url("images/link.png");
    background-size:24px 24px;
}
.icon-post-format-aside{
    background: url("images/post-format-aside.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.icon-post-format-audio{
    background: url("images/post-format-audio.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.icon-post-format-chat{
    background: url("images/post-format-chat.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.icon-post-format-gallery{
    background: url("images/post-format-gallery.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.icon-post-format-image{
    background: url("images/post-format-image.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.icon-post-format-link{
    background: url("images/post-format-link.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.icon-post-format-quote{
    background: url("images/post-format-quote.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.icon-post-format-status{
    background: url("images/post-format-status.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.icon-post-format-video{
    background: url("images/post-format-video.png");
    background-size:24px 24px;
    width:24px;
    height:24px;
}
.nav-previous .meta-nav,
.nav-next .meta-nav{
    display:none;
}
.attachment-navigation .prev{
    text-align:left;
    float:left;
}
.attachment-navigation .prev a{
    background:url("images/previous.png");
    background-repeat:no-repeat;
    background-position:left top;
    padding-left:1.53846153846em;
    background-size:16px 16px;
}
.nav-previous a:before{
    margin:.5em;
    content:" ";
    display:inline-block;
    width:16px;
    height:16px;
    background-size:cover;
    vertical-align:middle;
    background: url("images/previous.png");
}
.nav-next a:after{
    margin:.5em;
    content:" ";
    display:inline-block;
    width:16px;
    height:16px;
    background-size:cover;
    vertical-align:middle;
    background: url("images/next.png");
}
.attachment-navigation .next{
    float:right;
}
.attachment-navigation .next a{
    background:url("images/next.png");
    background-repeat:no-repeat;
    background-position:right top;
    padding-right:1.53846153846em;
    background-size:16px 16px;
}
td[class^="horizon"],
div[class^="horizon"]{
    text-align:left;
    border:none;
}
.ie6 .gallery-size-thumbnail .gallery-icon img,
.ie7 .gallery-size-thumbnail .gallery-icon img,
.ie8 .gallery-size-thumbnail .gallery-icon img{
    width:100%;
    height:100%;
}
.no-archive{
    display:none;
}
.tagcloud{
    padding:1em;
}
.monthly-archives-pagenate{
    text-align:center;
}
.page-numbers.current{
    background:#eef;
    color:#000;
    padding:0.23076923076em 0.38461538461em;
    display:inline-block;
}
.page-numbers{
    padding:0.23076923076em 0.38461538461em;
    display:inline-block;
}
.rd-page-navigation ul > li{
    float:left;
}
.rd-page-navigation ul ul li{
    float:left;
}
.rd-page-navigation ul{
    margin:0;
    padding:0;
}
.rd-page-navigation li{
    float:left;
    list-style-type:none;
    margin:0;padding:0.38461538461em 0.76923076923em;
    width:100px;
    height:16px;
    text-align:center;
}
.rd-page-navigation a{
    text-decoration:none;
}
.rd-page-navigation{
    position:relative;
    top:-1.53846153846em;
    left:-1.53846153846em;
    margin:2em;
}
.rd-page-navigation li ul{
    visibility: hidden;
    position:relative;
    top:0.38461538461em;left:70px;
}
.rd-page-navigation li:hover> ul{
    visibility:visible;
}
.raindrops-tab-list{
    margin:0;padding:0;
}
.raindrops-tab-content,
.raindrops-tab-list li{
    margin:0;
    padding:0;
}
.raindrops-tab-list li{
    border-bottom:none;
}
.raindrops-tab-content figure{
    margin-bottom:2em!important;
}
.raindrops-tab-content{
    padding-bottom:.5em;
}
.raindrops-tab-content figure.aligncenter img{
    width:auto;
    max-width:95%;
    max-width:calc(100% - 2em) ;
    margin-top:1em;
}
.raindrops-tab-content figcaption{
    width:auto;
    max-width:95%;
    max-width:calc(100% - 2em) ;
    margin:0 auto;
    padding:0;
}
/* tiny mce br issue*/
.yui-g > br,
.yui-gb > br,
.yui-gc > br,
.yui-gd > br,
.yui-ge > br,
.yui-gf > br,
.raindrops-tab-content > br{
    display:none;
}
.yui-g ,
.yui-gb ,
.yui-gc ,
.yui-gd ,
.yui-ge ,
.yui-gf ,
.raindrops-tab-content {
    margin-bottom:1em;
}
div.raindrops-tab-page{
    padding:0.76923076923em;
    background:none;
    color:inherit;
}
div.raindrops-tab-page h3{
    visibility:hidden;
}
/**
 * preset padding dlass
 */
.pad-s{
    margin:14px;
    padding:7px;
}
.pad-m{
    margin:14px;
    padding:14px;
}
.pad-l{
    margin:14px;
    padding:21px;
}
/**** Speech Bubble Icons *****/
.raindrops-comment-link {
    position: relative;
}
a.raindrops-comment-link {
    text-decoration: none;
}
.raindrops-comment-link em {
    padding: 0 0.4em;
    position: relative;
}
.raindrops-comment-link .point {
    width: 0;
    height: 0;
    position: absolute;
    top: 1.1em;
    left: 0.4em;
    display: block;
    overflow: hidden; /* IE fix */
}
a.raindrops-comment-link:hover em {
    cursor: pointer;
}
.widget select,
.widget_archive select{
    margin:0.38461538461em 0;
    width:100%;
}
li.pingback p{
    padding:.7em 0;
}
sub{
    vertical-align: sub;
}
sup {
    vertical-align: super
}
.textwidget img{
    height:auto;
}

.widget_text .yui-gb div.yui-u{
    width:31%;
}
.raindrops-recent-posts
.raindrops-category-posts
.raindrops-tag-posts{
    clear:both;
}
.raindrops-recent-posts .entry-title,
.raindrops-category-posts .title,
.raindrops-category-posts,
.raindrops-tag-posts .title{
    text-overflow: ellipsis;
}

.raindrops-tag-posts ul,
.raindrops-category-posts ul{
    overflow:hidden;
}
.raindrops-recent-posts li,
.raindrops-tag-posts li,
.raindrops-category-posts li{
    list-style:none;
}
.raindrops-recent-posts .list,
.raindrops-category-posts .list,
.raindrops-tag-posts .list{
    margin:0;
}
#yui-main .raindrops-recent-posts .list li,
#yui-main .raindrops-category-posts .list li,
#yui-main .raindrops-tag-posts .list li{
    list-style-type:none;
}
.single .raindrops-sticky .entry-content,
.single .raindrops-sticky .entry-title{
    /* add 1.120*/
    display:none;
}
.sticky-single-follow-text #nav-below{
    display:block;
}
.page-template-page-templatesfront-portfolio-php .raindrops-sticky{
    display:block;
}
.sticky-single-follow-text{
    margin-top:45px;
    text-align:left;
    font-size:153.9%
}
.sticky.raindrops-sticky{
    display:block;
}
#wpadminbar div{
    max-width:none;
}
.page-template-page-templatesfull-width-php .widget-wrapper li{
    text-align:left;
}
.page-template-page-templatesfull-width-php .widget-wrapper li{
    text-align:left;
}
.static-front-media{
    padding:0.76923076923em 1em 0 0;
}
.static-front-content{
    margin:0.76923076923em 0 0 1em;
}
.raindrops-expand-width{
    width:100%!important;
    box-sizing:border-box;
}
.yui-t3 .raindrops-expand-width .datetable,
.yui-t2 .raindrops-expand-width .datetable,
.yui-t1 .raindrops-expand-width .datetable,
.yui-t3 .raindrops-expand-width,
.yui-t2 .raindrops-expand-width,
.yui-t1 .raindrops-expand-width{
    padding-right:10px;
}
.rd-col-1 article{
    margin:0 1.53846153846em;
}
.raindrops-margin-left-none{
    margin-left:0!important;
}
.yui-t6 #container > .first,
.yui-t5 #container > .first,
.yui-t4 #container > .first{
    margin-left:10px;
    margin-right:-10px;
}
/* widget */
.raindrops_status_bar .raindrops-monthly-archive-prev-next-avigation{
    margin-bottom:5px;
    display:block;
}
.first .raindrops-monthly-archive-prev-next-avigation{
    margin:0.76923076923em;
    margin-bottom:50px;
    display:block;
}
.lsidebar .raindrops-monthly-archive-prev-next-avigation a,
.rsidebar .raindrops-monthly-archive-prev-next-avigation a{
   width:6em;
}
.lsidebar .raindrops-monthly-archive-prev-next-avigation .alignright,
.rsidebar .raindrops-monthly-archive-prev-next-avigation .alignright{
   text-align:right;
}
.lsidebar .raindrops-monthly-archive-prev-next-avigation,
.rsidebar .raindrops-monthly-archive-prev-next-avigation{
    position:relative;
    display:block;
    width:100%;
}
.lsidebar .raindrops-monthly-archive-prev-next-avigation .year,
.rsidebar .raindrops-monthly-archive-prev-next-avigation .year{
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:5em;
    height:1em;
    margin:auto;
    text-align:center;
}
.yui-t4 .lsidebar .raindrops-monthly-archive-prev-next-avigation,
.yui-t2 .lsidebar .raindrops-monthly-archive-prev-next-avigation,
.yui-t1 .lsidebar .raindrops-monthly-archive-prev-next-avigation{
  height:4em;
}
.rd-col-1.single-post #yui-main .yui-b,
.rd-col-1.single-post .yui-b,
.rd-col-1.page #yui-main .yui-b{
    margin-right:0;
    margin-left:0;
}
/* front-page.php */
.page-template-page-templatesfront-page-php #bd{
    min-height:0;
}
.page-template-page-templatesfront-page-php #ft .widget{
    text-align:left;
}
#front-page-template-pages{
   /*padding:0 10%;*/
}
#front-page-template-pages .page{
   /* margin:10% 0;*/
}
.page-template-page-templatesfront-page-php .portfolio-nav > ul > li{
    width:33%;
}
#front-page-template-pages .entry-meta-default,
body#front-page-template-pages:not(.logged-in) .entry-meta{
    display:none;
}
.page-template-page-templatesfull-width-php .oembed-container,
.page-template-page-templatesfront-page-php .oembed-container{
    margin-bottom:2em;
}
.page-template-page-templatesfull-width-php  .size1of4 img,
.page-template-page-templatesfront-page-php .size1of4 img{
    margin-top:5px;
}
/* raindrops-toc  for front-page.php ,full-width.php */
.raindrops-toc-front{
 /* margin:1em 10%;*/
}
#front-page-template-pages  .page{
     margin:0 10%;
     padding:1em;
}
.raindrops-toc-front li{
    list-style:none;
    width:31%;
    text-align:center;
    display:inline-block;
    box-sizing:border-box;
    margin:1%;
    border:1px solid rgba(222,222,222,.8);
}
.raindrops-toc-front a{
    display:block;
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:1em;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.single .entry-content span#read:target{
    /*excerpt read more link target link position ajust */
    display:inline-block;
    padding-top:100px;
    margin-top:-100px;
}
/* front-page.php end */
#date_list a:target{
    /* target link position ajust */
    padding-top:50px;
    margin-top:-50px;
}
.rsidebar li:target form div.searchform,
.lsidebar li:target form div.searchform,
.rsidebar li:target h2,
.lsidebar li:target h2,
.lsidebar li:target{
    padding-top:27px;
    margin-top:-27px;
}
.raindrops-mobile-menu{
    display:none;
}
.blog .entry-content .loop-hide,
.search .entry-content .loop-hide,
.archive .entry-content .loop-hide,
.home .entry-content .loop-hide{
    display:none;
}
.edit-link{
    margin-left:0.76923076923em;
}
/* post format */
.mejs-audio{
    margin:48px auto;
    width:320px!important;
}
.rsidebar .mejs-container,
.lsidebar .mejs-container{
    margin:24px auto;
}
/* optional responsive grid  width < 640px then 100%
        example
        div.line
                div.unit.size1of3
                div.unit.size2of3
        /div
*/
.line .widget{
    margin:0;
    padding:0;
}
.line .widget li{
}
.line img{
    height:auto;
}
.line,
.lastUnit {
    overflow: hidden;
}
.unit{
    float:left;
}
.unitExt{
    float:right;
}
.size1of1{
    float:none;
}
.size1of2{
    width:50%;
}
.size1of3{
    width:33.33333%;
}
.size2of3{
    width:66.66666%;
}
.size1of4{
    width:24.99%;
}
.size3of4{
    width:75%;
}
.size1of5{
    width:19.99%;
}
.size2of5{
    width:40%;
}
.size3of5{
    width:60%;
}
.size4of5{
    width:80%;
}
.lastUnit {
    float:none;
    width:auto;
}
.size1of1,
.size1of2,
.size1of3,
.size2of3,
.size1of4,
.size3of4,
.size1of5,
.size2of5,
.size3of5,
.size4of5{
    padding:0.76923076923em;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.portfolio{
    margin-bottom:1.53846153846em;
}
.portfolio .index{
    margin:2em 1em;
    border-bottom:none;
}
#portfolio ul.index > li{
    width:33.3%;
    clear: none;
    display:inline-block;
    float:left!important;
    height:0;
    overflow:hidden;
    padding-bottom:18.75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-size:cover;
    background-position:center!important;
    border:0.07692307692em solid rgba( 104, 104, 104, 0.5 );
}
.column-4 ul.index > li{ /* 4columns */
    width:25%;
}
.column-2 ul.index > li{
    width:50%;
    height:260px;
}
.portfolio .index .raindrops-sticky{
    display:block;
}
.portfolio ul.index > li article{
    visibility:hidden;
    position:relative;
    height:180px;
    background-size:cover;
    text-align:center;
}
.portfolio.column-2 ul.index > li article{
    height:240px;
}
.portfolio ul.index > li article .entry-meta{
    position:absolute;
    bottom:0;
}
.portfolio .posted-on{
    display:none;
}
/*1.148*/
.portfolio ul.index > .loop-item-show-allways article,
.portfolio ul.index > li:hover article{
    visibility:visible!important;
}
.portfolio ul.index > li:hover{
    background:none!important;
}
.portfolio .index ul,
.portfolio ul.index > li.loop-9:after,
.portfolio ul.index > li.loop-6:after,
.portfolio ul.index > li.loop-3:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.portfolio-page-content,
.stickies{
    margin:1% 3%;
}
.portfolio-page-content{
    padding:0.38461538461em 0.76923076923em;
}
.portfolio .index > li .entry-title a{
    margin:.5em 0.76923076923em;
}
.portfolio .index > li .post .h2-thumb,
.portfolio .index > li:not(.loop-item-show-allways) .post .entry-meta,
.portfolio .index > li:not(.loop-item-show-allways) .post .raindrops-comment-link em,
.portfolio .index > li:not(.loop-item-show-allways) .post .entry-title a{
    display:none;
}
.portfolio .index > li .raindrops-comment-link{
    margin:0 0 0 0;
}
.portfolio .index > li:not(.loop-item-show-allways) .post:hover .raindrops-comment-link em,
.portfolio .index > li:not(.loop-item-show-allways) .post:hover .raindrops-comment-link{
    display:inline;
}
.portfolio .index > li:not(.loop-item-show-allways) .post:hover .entry-meta,
.portfolio .index > li:not(.loop-item-show-allways) .post:hover .entry-title a{
    display:block;
    cursor:pointer;
}
.portfolio ul.index > li .post:hover{
    background:none!important;
}
body:not(.logged-in) .portfolio .index > li article .entry-meta{
    border:none;
}
/* IE */
.ie6 .portfolio .index > li .post .h2-thumb,
.ie7 .portfolio .index > li .post .h2-thumb,
.ie8 .portfolio .index > li .post .h2-thumb{
    display:block;
}
.ie6 .portfolio .index > li .post .entry-meta,
.ie7 .portfolio .index > li .post .entry-meta,
.ie8 .portfolio .index > li .post .entry-meta{
    border:none;
}
.ie6 #yui-main.portfolio ul.index > li .post,
.ie7 #yui-main.portfolio ul.index > li .post,
.ie8 #yui-main.portfolio ul.index > li .post{
    background:none!important;
}
/* portfolio template */
.portfolio-nav{
    margin:0.76923076923em;
    position:relative;
    overflow:hidden;
    height:50px;
}
.portfolio-nav > ul{
    margin:0 -4px;
    padding:0;
}
.portfolio-nav > ul > li{
    margin:0 -2px;
    padding:18px 0;
    display:inline-block;
    width:30%;
    height:50px;
    text-align:center;
}
.portfolio-prev:after{
    content: url( images/next.png );
    vertical-align:middle;
    margin:0.46153846153em;
}
.portfolio-next:before,
.portfolio-page2:before{
    content: url( images/previous.png );
    vertical-align:middle;
    margin:0.46153846153em;
}
.no-portfolio{
    margin:0.76923076923em;
}
.author .entry-title{
    display:inline-block;
    margin-left:.6em;
}
main .author .h2-thumb img{
    width:24px;
    height:24px;
}
.date table .entry-title{
    font-weight:normal;
}
.date table .entry-date,
.date table .author{
    display:none;
}
/* page-featured.php Template Name: Page Featured */
h2.page-featured-template{
    margin:36px 0;
}
.unit .page-featured-template .wp-post-image{
    width:auto;
    height:auto;
}
#comments .nav-next{
    float:right;
    width:48%;
}
#raindrops-recent-posts .raindrops-pub-new .entry-date:before,
.raindrops-pub-new .posted-on-string:before{
    content:"new";
    color:red;
    font-size:100%;
    margin-right:.3em;
}
/* list-of-post.php settings */
ol.list-of-post-list{
    margin-left:1em;
    list-style-position:inside;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
ol.list-of-post-list .format-link .entry-title{
    display:block;
}
ol.list-of-post-list li{
    margin-left:0.23076923076em;
    list-style-position:inside;
}
ol.list-of-post-list .entry-title{
    margin-left:1em;
}
.list-of-post-edit-link{
    text-align:right;
}
.list-of-post-edit-link .delete-link{
    display:inline-block;
    width:100px;
    text-align:center;
    margin:0.07692307692em;
}
.list-of-post-edit-link .edit-link{
    display:inline-block;
    width:100px;
    text-align:center;
    margin:0.07692307692em;
}
.no-toggle-title{
    list-style:none;
    display:none;
}
#list-of-post .list-of-post-toggle .no-toggle-title,
#list-of-post .list-of-post-toggle .raindrops-toggle-title{
    font-weight:normal!important;
    margin-left:40px!important;
}
.list-of-post-toggle .no-toggle-content,
.list-of-post-toggle .raindrops-toggle:not(.raindrops-toggle-title){
    margin:1em 0 0 40px!important;
    margin-top:2em;
    list-style-type:none;
    border:0.07692307692em solid rgba(222,222,222,.5);
    padding:1em;
}
.list-of-post-next-prev{
    margin-top:2em;
}
.page-template-blank_front-php .index,
.page-template-blank_front-php:not(.logged-in) .entry-meta{
    border:none;
}
.page-template-blank_front-php div.entry-content,
.page-template-blank_front-php .index .hentry{
    margin:0;
}
@media screen and (min-width : 1280px){
    .page-template-blank_front-php  .raindrops-category-posts li,
    .page-template-blank_front-php  .raindrops-tag-posts li,
    .page-template-blank_front-php  .raindrops-recent-posts li{
        display:block;
        width:auto;
        vertical-align:top;
    }
    .page-template-blank_front-php #doc5 .yui-ge .raindrops-category-posts li,
    .page-template-blank_front-php #doc5 .yui-gc .raindrops-category-posts li,
    .page-template-blank_front-php #doc5 .yui-ge .raindrops-tag-posts li,
    .page-template-blank_front-php #doc5 .yui-gc .raindrops-tag-posts li,
    .page-template-blank_front-php #doc5 .yui-ge .raindrops-recent-posts li, /* 25% */
    .page-template-blank_front-php #doc5 .yui-gc .raindrops-recent-posts li,
    .page-template-blank_front-php #doc3 .yui-ge .raindrops-category-posts li,
    .page-template-blank_front-php #doc3 .yui-gc .raindrops-category-posts li,
    .page-template-blank_front-php #doc3 .yui-ge .raindrops-tag-posts li,
    .page-template-blank_front-php #doc3 .yui-gc .raindrops-tag-posts li,
    .page-template-blank_front-php #doc3 .yui-ge .raindrops-recent-posts li, /* 25% */
    .page-template-blank_front-php #doc3 .yui-gc .raindrops-recent-posts li{ /* 33% */
        display:inline-block;
        width:45%;
        vertical-align:top;
    }
}
@media screen and (max-width : 640px){
    .page-template-blank_front-php  .raindrops-category-posts li,
    .page-template-blank_front-php  .raindrops-tag-posts li,
    .page-template-blank_front-php  .raindrops-recent-posts li{
        display:block;
        width:auto;
        vertical-align:top;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts li,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts li,
    .page-template-blank_front-php #doc5 .raindrops-recent-posts li,
    .page-template-blank_front-php #doc3 .raindrops-category-posts li,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts li,
    .page-template-blank_front-php #doc3 .raindrops-recent-posts li{
        display:inline-block;
        width:100%;
        vertical-align:top;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts ul > li,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts ul > li,
    .page-template-blank_front-php #doc5 #raindrops-recent-posts > ul > li,
    .page-template-blank_front-php #doc3 .raindrops-category-posts ul > li,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts ul > li,
    .page-template-blank_front-php #doc3 #raindrops-recent-posts > ul > li{
        margin:1em 0;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts ul > li .thumb img,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts ul > li .thumb img ,
    .page-template-blank_front-php #doc5 #raindrops-recent-posts > ul > li .thumb img,
    .page-template-blank_front-php #doc3 .raindrops-category-posts ul > li .thumb img,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts ul > li .thumb img ,
    .page-template-blank_front-php #doc3 #raindrops-recent-posts > ul > li .thumb img{
        width:64px!important;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts ul > li article,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts ul > li article,
    .page-template-blank_front-php #doc5 #raindrops-recent-posts > ul > li article,
    .page-template-blank_front-php #doc3 .raindrops-category-posts ul > li article,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts ul > li article,
    .page-template-blank_front-php #doc3 #raindrops-recent-posts > ul > li article{
        margin-left:72px!important;
    }
    .page-template-blank_front-php #doc5 .raindrops-category-posts ul > li .posted-on,
    .page-template-blank_front-php #doc5 .raindrops-tag-posts ul > li .posted-on,
    .page-template-blank_front-php #doc5 #raindrops-recent-posts > ul > li .posted-on,
    .page-template-blank_front-php #doc3 .raindrops-category-posts ul > li .posted-on,
    .page-template-blank_front-php #doc3 .raindrops-tag-posts ul > li .posted-on,
    .page-template-blank_front-php #doc3 #raindrops-recent-posts > ul > li .posted-on{
        text-align:left;
    }
}
.raindrops-status-bar-active #ft,
.raindrops-status-bar-active footer{
    margin-bottom:70px;
}
#raindrops_status_bar{
    background:rgba(0,0,0,1);
    color:#fff;
    max-height:80px;
    position:fixed;
    bottom:0;
    width:100%;
    margin:0;
    padding:.2em 0;
    z-index:9999;
}
#raindrops_status_bar .raindrops-next-prev-links .nav-previous,
#raindrops_status_bar .raindrops_prev_next_post .nav-previous{
    text-align:left;
}
#raindrops_status_bar .move-to-top{
    text-align:right;
    margin-right:1em
}
#raindrops_status_bar a{
    text-decoration:none;
    color:#fff;
}
/* Print Styles for Single post, page */
@page {
    margin: 1.5cm;
}
@media print {
    .single   a{
        color:#000!important;
    }
    body.page,
    body.single{
        font-size:10.5pt;
        color:#000;
    }
    .page #hd,
    .single #hd{
        height:2em;
    }
    .page #header-image,
    .single #header-image{
        height:3cm!important;
    }
    .page .entry-title,
    .single .entry-title{
        font-size:13pt;
    }
    .entry-content a:after,
    #site-title a:after,
    .page .entry-title a:after,
    .single .entry-title a:after{
        content: ' ( ' attr(href) ' ) ';
        font-size:9pt;
        display:block;
        color:#000;
    }
    .entry-content a:after,
    #site-title a:after{
        display:inline;
    }
    .page  #container > .first
    .single #container > .first{
        width:100%!important;
        float:none;
    }
    .page .yui-t1 article,
    .single .yui-t1 article{
        margin-left:-160px!important;
    }
    .page .yui-t2 article,
    .single .yui-t2 article{
        margin-left:-180px!important;
    }
    .page .yui-t3 article,
    .single .yui-t3 article{
        margin-left:-300px!important;
    }
    .page .yui-t4 article,
    .single .yui-t4 article{
        margin-right:-180px!important;
    }
    .page .yui-t5 article,
    .single .yui-t5 article{
        margin-right:-240px!important;
    }
    .page .yui-t6 article,
    .single .yui-t6 article{
        margin-right:-300px!important;
    }
    .page #bd > .yui-b,
    .page .lsidebar,
    .page  aside.rsidebar,
    .page  .rsidebar,
    .page .entry-meta
    .single #bd > .yui-b,
    .single .lsidebar,
    .single  aside.rsidebar,
    .single  .rsidebar,
    .single .entry-meta{
        display:none;
        width:0;
    }
    .page #ft,
    .page #footer,
    .page #access,
    .single #ft,
    .single #footer,
    .single #access{
        display:none!important;
    }
    .single div.post,
    .page div.page,
    .single article{
        width:19cm!important;
        color:#000;
        height:auto;
    }
    .single #yui-main #container{
        min-height:0!important;
    }
}
.rd-type-minimal #hd,
.rd-type-minimal #ft{
    background:none;
}
.rd-type-minimal #hd{
    min-height:80px;
}
/* Raindrops Widget Category New */
.lsidebar .xoxo li,
.rsidebar .xoxo li{
    margin-left:0;
}
.widget .post-group_by-category-author,
.widget .post-group-by-category-time{
    display:inline-block;
    margin:0 .7em;
    display:none;
}
.widget .post-group_by-category-title a{
    font-weight:700;
    margin:1.2em 0;
    font-family:sans-serif;
}
.widget a.post-group_by-category-title:not(.no-thumb),
.widget a.post-group_by-category-entry-title:not(.no-thumb){
    position:relative;
    display:block;
    margin-left:60px;
    width:80%;
    width: calc(100% - 60px);
    min-height:4.5em;
    box-sizing:border-box;
}
.widget a.post-group_by-category-title.no-thumb,
.widget a.post-group_by-category-entry-title.no-thumb{
    position:static;
}
.widget .post-group_by-category-title .h2-thumb,
.widget .post-group_by-category-entry-title .h2-thumb{
    position:absolute;
    left:-60px;
}
.rsidebar .widget:focus,
.lsidebar .widget:focus {
    outline:none;
}
/* Raindrops widget raindrops-pinup-entries */
.lsidebar .raindrops-pinup-entries > div,
.rsidebar .raindrops-pinup-entries > div{
    margin:0;
}
.raindrops-pinup-entries{
    position:relative;
}
.raindrops-pinup-entries .entry-title{
    position:absolute;
    top:0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.raindrops-pinup-entries img{
    width:auto;
    height:auto;
    margin-top:2.6em;
}
.raindrops-pinup-entries p img{
    width:auto;
    height:auto;
    margin-top:-.75em;
}
.raindrops-pinup-entries iframe{
    max-height:100%;
}
/* playlist shortcode*/
.widget .wp-playlist-dark,
.entry-content .wp-playlist-dark{
    border:1px solid rgba(222,222,222,.4);
}
.wp-playlist-dark .wp-playlist-item .wp-playlist-caption{
    color: #ccc;
}
.wp-playlist-tracks .wp-playlist-item{
    border-bottom: 1px solid rgba(222,222,222,.5);
}
/* plugins issue */
/* http://wordpress.org/plugins/crayon-syntax-highlighter/ */
.entry-content .crayon-table{
    table-layout:auto;
}
/* https://gist.github.com/ */
.entry-content .gist{
    table-layout:auto;
}
.entry-content .gist .line-data{
    background:#fff;
}
.entry-content .gist .line-numbers{
    background:#555;
    color:#fff;
}
.entry-content .gist td{
    text-align:left;
}
.entry-content .gist .pl-vo{
    color:#999988;
}
.entry-content .gist .pl-s2{
  color:green;
}
.raindrops-pinup-entries .wp-playlist img{
    margin-top:0;
}
/* bbpress */
#bbpress-forums .subscription-toggle{
    display:inline-block;
    margin-top:2px;
    margin-left:1em;
}
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar{
    margin-bottom:-3px;
}
#bbpress-forums .subscription-toggle{
    display:inline-block;
    margin-top:2px;
    margin-left:1em;
}
#bbpress-forums .bbp-topic-reply-count,
#bbpress-forums .bbp-topic-voice-count,
#bbpress-forums .bbp-topic-started-by,
#bbpress-forums .bbp-forum-content,
#bbpress-forums .bbp-forum-reply-count,
#bbpress-forums .bbp-forum-topic-count,
#bbpress-forums #bbp_topic_title,
#bbpress-forums #bbp_topic_tags,
#bbpress-forums #bbp_topic_content,
#bbpress-forums #bbp_reply_content,
#bbpress-forums .bbp-pagination,
#bbpress-forums .bbp-body,
#bbpress-forums .bbp-reply-content,
#bbpress-forums .bbp-meta,
#bbpress-forums .bbp-header,
#bbpress-forums .forum-titles,
#bbpress-forums .bbp-footer,
#bbpress-forums legend,
#bbpress-forums .bbp-reply-form,
#bbpress-forums .bbp-topic-form{
    background:#fff;
    color:#000;
    font-size:100%;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta{
    font-size:100%;
}
#bbpress-forums .bbp-topic-reply-count,
#bbpress-forums .bbp-topic-voice-count,
#bbpress-forums .bbp-forum-reply-count,
#bbpress-forums .bbp-forum-topic-count,
#bbpress-forums .forum-titles{
    background:transparent;
}
#bbpress-forums .bbp-pagination{
    padding:.5em;
    margin-bottom:1px;
}
#bbpress-forums  #bbp_reply_submit,
#bbpress-forums  #bbp_topic_submit{
    padding:6px;
}
#bbpress-forums .bbp-reply-form,
#bbpress-forums .bbp-topic-form{
    padding-bottom:.5em;
}
#bbpress-forums a{
    color:#666;
}
/**
 * The Events Calendar
 * https://wordpress.org/plugins/the-events-calendar/
 */
#tribe-events,
#tribe-events-content-wrapper{
    margin:1em;
    padding:1em;
    background:#fff;
    color:#000;
}
.page-template-page-templatesfull-width-php #container{
    width:100%;
}
.oembed-content-icon{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(222,222,222,.7);
    display:table-cell;
    vertical-align:middle;
    padding:3px;
}
.wp-smiley{
    vertical-align:middle;
}
.entry-content .button a:focus{
    margin:0;
}
@media screen and (max-width : 640px){
    #portfolio ul.index > li{
        width:100%;
        padding-bottom:57.5%;
        margin-bottom:1em;
    }
}
.rsidebar .eco-archive ul,
.lsidebar .eco-archive ul{
   margin:1em 0;
}
.rsidebar .eco-archive li,
.lsidebar .eco-archive li{
    display:inline-block;
    margin:0 .5em 0;
    border:none;
}
.lsidebar .eco-archive h4,
.rsidebar .eco-archive h4{
    font-size:123.1%;
    border-bottom:1px solid rgba( 123,123,123,.5);
}
@media screen and (max-width : 640px){
    .rsidebar .eco-archive li,
   .lsidebar .eco-archive li{
       display:block;
       margin:.5em;
   }
}
.entry-title a .wp-post-image{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}
.entry-title a:hover .wp-post-image{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -o-filter: brightness(80%);
    -ms-filter: brightness(80%);
}
.raindrops-category-navigation{
    padding:1em;
    text-align:center;
}
.raindrops-category-navigation .current{
    font-weight:bold;
}
/* Simple language settings
 * Support for only japanese language
 *
 * entry content wrapping english message width div and lang attribute like below
 * <div class="lang-not-ja>English</div><div class="lang-ja">Japanese</div>
 *
 * entry title wrapping english message width span and lang attribute like below
 *  <span lang="lang-not-ja">English Title</span><span class="lang-ja">Japanese Title</span>
 */

body.ja:not(.firefox) :not(.rd-l-en_US) .lang-not-ja,
body.ja div:not(.rd-l-ja) .lang-ja,
body.ja div:not(.rd-l-ja-JP) .lang-ja,
body.ja div.rd-l-ja .post .lang-not-ja{
    display:none;
}
body.ja .rd-l-en .hentry .lang-not-ja,
body.ja .rd-l-en_US .hentry .lang-not-ja,
body.ja .rd-l-ja .hentry .lang-ja,
body.ja .rd-l-ja-JP .hentry .lang-ja,
body.ja :not(.rd-l-ja-JP) .hentry .lang-not-ja
body.ja :not(.rd-l-ja) .hentry .lang-not-ja{
    display:inline-block;
}
html body.ja .widget-wrapper .lang-not-ja,
html body.ja .lsidebar .lang-not-ja,
html body.ja .rsidebar .lang-not-ja{
    display:none;
}
html body.ja .widget-wrapper .lang-ja,
html body.ja .lsidebar .lang-ja,
html body.ja .rsidebar .lang-ja{
    display:block;
}
#doc3 #header-image{
    display:none;
}
.oembed-container:empty{
    padding-bottom:8%;
    margin-bottom:6em;
}
.oembed-container:empty:after{
    content:'MEDIA';
    display:table-cell;
    text-align:center;
    height:120px;
    vertical-align:middle;
    width:800px;
    background: url("images/sticky.png");
    visibility:visible;
}
.raindrops-excerpt-more{
    display:inline-block;
}
#top ol.breadcrumbs{
    padding:1em 0 0;
    box-sizing:border-box;
}
