/* General styles 
**************************************************/
body{
	font-family: 'open_sansregular', sans-serif;
	font-size: 16px;
	background: #fafaf5;
    overflow-x:hidden;
    color: #404040;
    -webkit-overflow-scrolling: touch;
  
}

h1,h2,h3,h4,h5,h6{
	font-family: 'open_sansbold';
}

#home-intro{
	position: relative;
	height: 700px;
	background:url(../img/01.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
	padding-left: 20%;
}

p{
	margin-bottom: 20px;
}
figure {
	margin-top: 10px;
	margin-bottom: 20px;
}
figure img{
	width: 100%;
	border: 1px solid #BCBCBC;
}
.mfp-content figure img{
	border: none;
}
figure figcaption{
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}
#home-intro:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background:#303038;
	opacity: 0.7;
	z-index: 10;
}
#home-intro .container{
	height: 100%;
}
#header-content-wrapper{
	width: 100%;
	height: 100%;
	display: table;
}

#header-content{
	display: table-cell;
	vertical-align: middle;
}

#header-content{
	position: relative;
	z-index: 15;
}

.head-title{
	position: relative;
	font-family: 'open_sansextrabold';
	font-size: 60px;
	padding-bottom: 30px;
	margin-bottom: 50px;
}
.head-title span{
	display: block;
	font-size: 16px;
}
.head-title:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 150px;
	height: 1px;
	background: #626268;
	padding-bottom: 1px;
	border-bottom: 1px solid #55555f;
}

#header-content .intro{
	font-family: 'open_sansregular';
	font-size: 18px;
	color: #C1C1C1;
	max-width: 50%;
	margin-bottom: 90px;

}


.table-head{
	padding:20px 40px 20px 55px;
	background:#fff;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}

#toggle-sidebar{
	position: absolute;
	top: 100px;
	right: 10px;
	font-size: 22px;
	width: 30px;
	height: 30px;
	display: block;
	color: #A3A3A3;
	display: none;
	
}

#toggle-sidebar:hover,
#toggle-sidebar:focus {
	color:#ef4035;
}

.table-head .title{
	font-family: 'open_sansbold';
	font-size: 13px;
	text-transform: uppercase;
	color:#A3A3A3;
}

.tj-lightbox img,
.tj-lightbox-gallery img{
	width: 100%;
}




/* Sidenav 
 **************************************************/
#side-nav{
	list-style: none;
	margin: 0;
	padding: 0;
	height: -webkit-calc(100% - 85px);
	height: -moz-calc(100% - 85px);
	height: calc(100% - 85px);
	overflow: auto;
	padding-bottom: 50px;
}
#side-nav >li{
	position: relative;
}
#side-nav >li.active >a{
	position: relative;
	background: #fff;
}
#side-nav >li.active >a:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 100%;
	background: #ef4035;
}
#side-nav >li.active{
	border-bottom:1px solid #e6e6e6;
}
#side-nav >li:last-child{
	border-bottom:none;
}
#side-nav li a{
	display: block;
	font-size: 12px;
	color: #474747;

}
#side-nav >li> a{
	font-size: 14px;
	border-bottom:1px solid #e6e6e6;
	padding: 20px 20px 20px 55px;
}
#side-nav >li> a:hover,
#side-nav >li> a:focus {
	background-color: #FDFDFD;
	text-decoration: none;
}

.sub-menu{
	list-style: none;
	margin:0;
	padding: 0;
	margin-left: 55px;
	padding-bottom: 30px;
	padding-top: 12px;
	display: none;
}

.sub-menu li{
	margin-left: 25px;
}
.sub-menu li a{
	padding: 6px 0; 
}
#side-nav .sub-menu li.active a{
	color:#ef4035;
}
#side-nav .sub-menu li a:hover,
#side-nav .sub-menu li a:focus {
	color: #ef4035;
	text-decoration: none;
}


/* Nav bar 
 **************************************************/
#nav-bar{
	background: #505050;
	padding: 20px 45px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 100;
}
#nav-bar:before,
#nav-bar:after{
  content:"";
  display:table;
}
#nav-bar:after{
  clear:both;
}
#theme-details{
	float: left;
	margin-top: 10px;
}
#navigation{
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#navigation li{
	display: inline-block;
	padding: 20px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;

}
#navigation li a{
	color: #ebebeb;
}

#navigation li a:hover,
#navigation li a:focus {
	color:#fff;
	text-decoration: none;
}


.theme-title{
	font-family: 'open_sansbold';
	font-size: 20px;
	font-weight: 600;
	margin:0;
	margin-left: 7px;
	position: relative;
	color: #fff;
	float: left;
}
.theme-version{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #ef4035;
	line-height: 13px;
	text-align: center;
	display: block;
	padding: 5px;
	font-size: 12px;
	float: left;
}
.theme-title span{
	font-weight: 300;
	color:#bfbfbf;
	font-size: 11px;
	display: block;
	margin-top: 3px;
}

/*main content 
 **************************************************/
 #main-content{
 	background: #fcfcfc;
	margin-left: 350px;
	color: #515151;
	font-family: 'open_sansregular';
	margin-top: 97px;

 }

.section-heading{
	margin-bottom: 45px;
	padding-left: 7%;
}
.section-heading .title{
	font-family: 'open_sansextrabold';
	font-size: 40px;
	text-transform: uppercase;
	padding-bottom: 30px;
	margin-bottom: 35px;
	position: relative;
}
.section-heading .title:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 130px;
	height: 1px;
	background: #dfdfdf;
}
.section-heading .intro{
	font-family: 'open_sanslight';
	font-size: 20px;
	max-width: 60%;
}
.section-heading .title span{
	display: block;
}

.section-content{
	line-height: 1.6;
	padding-left: 7%;
	padding-right: 7%;
	max-width: 1200px;
}
 /* Sidebar 
  **************************************************/
  #sidebar{
  	position: fixed;
  	top: 0;
  	left: 0;
  	width:350px;
  	height: 100%;
  	padding-top: 97px;
  	background: #fbfbfb;
  	border-right:1px solid #eeebeb;
  	z-index: 50;
  	color: #474747;
  }

/* Buttons 
**************************************************/
.btn {
	font-family: 'open_sansbold';
	border: 1px solid #ebebeb;
	border-radius: 0;
	text-transform: uppercase;
	padding: 10px 25px;
	
	font-weight: normal;
	font-size: 14px;
	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	    -ms-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	        transition: all 0.25s ease;
}
.btn-default{
	background-color: #fdfdfd;
	color:#474747;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active{
	color: #333;
	background-color: #f1f1f1;
	border-color: #dedede;
}

.btn-theme {
	color: #fff;
	background-color: #ef4035;
	border-color: #ff4135;
}
.btn-theme.alt {
	color: #ef4035;
	background-color: transparent;
	border-color: #ef4035;
}
.btn-theme:hover, 
.btn-theme:focus, 
.btn-theme:active, 
.btn-theme.active{
	background-color: #ff4c41;
	border-color:#ea493e;
	color:#fff;
}

.btn-transparent{
	color:#fff;
}
.btn-transparent:hover,
.btn-transparent:focus {
	background-color: #fff;
}

.btn-icon i{
	padding-right:5px;
}
.btn-icon-right i{
	padding-left:5px;
}

.btn-lg {
	padding: 20px 30px;
	font-size: 14px;
	line-height: 1.33;
}
.btn-sm{
	padding: 6px 18px;
	font-size: 12px;
}
.btn-xs{
	padding:3px 10px;
	font-size:12px;
}
.btn-simple{
	border:1px solid #dedede;
}



.colored{
	color:#ef4035;
}

strong{
	font-family: 'open_sansbold';
}

.section-content a{
	color:#ef4035;
}


.circle-list{
	list-style: none;
	padding: 0;
	margin-bottom: 35px;
	margin-top: 20px;
}

.circle-list li{
	margin-bottom: 7px;
}
.circle-list li> span{
	width: 27px;
	height: 27px;
	background: #69a99f;
	color: #fff;
	text-align: center;
	margin-right: 7px;
	font-size: 14px;
	display: block;
	border-radius: 50%;
	line-height: 27px;
	float: left;
}
.circle-list li:after{
	content: '';
	display: table;
	clear: both;
}

section{
	display: none;
	padding-top: 68px;
}












 /* overlays **************************************************/
.tj-overlay {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}
.tj-hover-1,.tj-hover-2,.tj-hover-3,.tj-hover-4,.tj-hover-5{
	position: relative;
	display: block;
}
.tj-hover-1> a,.tj-hover-2> a,.tj-hover-3> a,.tj-hover-4> a,.tj-hover-5> a{
	display: block;
}

.tj-hover-1 .tj-overlay,
.tj-hover-2 .tj-overlay,
.tj-hover-3 .tj-overlay,
.tj-hover-4 .tj-overlay,
.tj-hover-5 .tj-overlay
{

	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

.tj-hover-1 .tj-overlay:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	display: block;
	height: 4px;
	background: rgb(200, 155, 74);
	z-index: 5;
	margin-top: -2px;

	-webkit-transition: all 0.3s ease-in;
	   -moz-transition: all 0.3s ease-in;
	    -ms-transition: all 0.3s ease-in;
	     -o-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
}

.tj-hover-1 .tj-overlay .title{
	font-size:20px;
	margin-top: -40px;
	-webkit-transform: translate3d(0,-10px,0);
	   -moz-transform: translate3d(0,-10px,0);
	    -ms-transform: translate3d(0,-10px,0);
	     -o-transform: translate3d(0,-10px,0);
	        transform: translate3d(0,-10px,0);
	text-transform: uppercase;
}
.tj-hover-1 .tj-overlay .subtitle{

	margin-top: 23px;
	-webkit-transform: translate3d(0,15px,0);
	   -moz-transform: translate3d(0,15px,0);
	    -ms-transform: translate3d(0,15px,0);
	     -o-transform: translate3d(0,15px,0);
	        transform: translate3d(0,15px,0);
	font-size: 13px;
	font-family: 'ralewayregular';
	font-weight: 400;
}

.tj-hover-1:hover .tj-overlay{
	opacity: 1;
}

.tj-hover-1:hover .tj-overlay:after{
	width: 40px;
	margin-left: -20px;
}


.tj-hover-1:hover .tj-overlay .title,
.tj-hover-1:hover .tj-overlay .subtitle,
.tj-hover-2:hover .tj-overlay .overlay-texts,
.tj-hover-2:hover .tj-overlay .overlay-icon,
.tj-hover-4:hover .tj-overlay .overlay-icon{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	     -o-transform: translate3d(0,0,0);
	        transform: translate3d(0,0,0);
}

.tj-hover-1 .tj-overlay .title,
.tj-hover-1 .tj-overlay .subtitle,
.tj-hover-2 .tj-overlay .overlay-texts,
.tj-hover-2 .tj-overlay .overlay-icon{
	color:#000;
	width: 100%;
	padding:0 15px;
	text-align: center;
	position: absolute;
    top:50%;
	left: 0;
	opacity: 0;

	-webkit-transition: -webkit-transform 0.6s ease,opacity 0.3s ease;
	   -moz-transition:  	moz-transform 0.6s ease,opacity 0.3s ease;
	    -ms-transition: 	-ms-transform 0.6s ease,opacity 0.3s ease;
	     -o-transition: 	 -o-transform 0.6s ease,opacity 0.3s ease;
	        transition: 		transform 0.6s ease,opacity 0.3s ease;
      
}

.tj-hover-1:after,
.tj-hover-2:after,
.tj-hover-4:after,
.tj-hover-5:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	-webkit-transition: opacity 0.5s ease;
	   -moz-transition: opacity 0.5s ease;
	    -ms-transition: opacity 0.5s ease;
	     -o-transition: opacity 0.5s ease;
	        transition: opacity 0.5s ease;
}
.no-padding .tj-hover-1:after,
.no-padding .tj-hover-2:after,
.no-padding .tj-hover-4:after,
.no-padding .tj-hover-5:after{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.tj-hover-1:after{
	background: #fff;
	opacity: 0;
}
.tj-hover-2:after{
	background: #000;
	opacity: 0.5;
}

.tj-hover-4:after{
	background: #000;
	opacity: 0;
}

.tj-hover-1:hover:after{
	opacity: 0.75;
}
.tj-hover-2:hover:after{
	opacity: 0.1;
}
.tj-hover-4:hover:after{
	opacity: 0.3;
}
.tj-hover-2 .tj-overlay .overlay-icon{
	margin-top: -45px;
	margin-left: -13px;
	left:50%;
	width: 35px;
	height: 35px;
	border: 1px solid #fff;
	border-radius:50%;
	text-align: center;
	line-height: 34px;
	color: #fff;
	font-size: 16px;
	box-shadow: 1px 1px 3px -1px #000, inset 1px 1px 3px -1px #000;
	text-shadow: 1px 1px 2px #000;

	-webkit-transform: translate3d(10px,0,0);
	   -moz-transform: translate3d(10px,0,0);
	    -ms-transform: translate3d(10px,0,0);
	     -o-transform: translate3d(10px,0,0);
	        transform: translate3d(10px,0,0);
}

.tj-hover-2 .tj-overlay .overlay-texts{
	margin-top: 15px;
	text-align: center;
	color:#fff;

	-webkit-transform: translate3d(-20px,0,0);
	   -moz-transform: translate3d(-20px,0,0);
	    -ms-transform: translate3d(-20px,0,0);
	     -o-transform: translate3d(-20px,0,0);
	        transform: translate3d(-20px,0,0);
}
.tj-hover-2 .tj-overlay .title{
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px #000;
	color:#fff;
}

.tj-hover-2 .tj-overlay .subtitle{
	font-size: 12px;
	margin: 5px 0 0 0;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px #000;
	font-weight: 400;
	color:#fff;
}

.tj-hover-2:hover .tj-overlay{
	opacity: 1;
}

.tj-hover-3 .tj-overlay{
	opacity: 1;
	background: rgba(0,0,0,0.5);
}
.tj-hover-3:hover .tj-overlay,
.tj-hover-3:focus .tj-overlay{
	background: rgba(0,0,0,0.3);
}
.tj-hover-3 .tj-overlay .overlay-texts{
	padding:0 5%;
}
.tj-hover-3 .tj-overlay .title{
	font-size: 22px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-weight: 700;
	font-family: 'ralewaybold';
	position: relative;
	color:#d0d0d0;
	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	    -ms-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	        transition: all 0.25s ease;
}
.tj-hover-3 .tj-overlay .title:after{
	content: '';
	position: absolute;
	bottom:-15px;
	left:0;
	height: 5px;
	background-color: #ef4035; 
	width: 30px;
	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	    -ms-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	        transition: all 0.25s ease;
}
.tj-hover-3 .tj-overlay .subtitle{
	font-size: 12px;
	margin: 5px 0 0 0;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-weight: 400;
	color: #fff;
}
.tj-hover-3:hover .tj-overlay .title,
.tj-hover-3:focus .tj-overlay .title{
	color:#f1f1f1;
}
.tj-hover-3:hover .tj-overlay .title:after,
.tj-hover-3:focus .tj-overlay .title:after{
	width: 40px;
	position: absolute;
	/* top:50%; */
}

.tj-hover-4 .tj-overlay{
	opacity: 0;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.tj-hover-4:hover .tj-overlay{
	opacity: 1;
}
.tj-hover-4 .tj-overlay .overlay-icon{
	position: absolute;
	margin-left: -20px;
	margin-top: -20px;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 13px;

	-webkit-transform: translate3d(0,-15px,0);
	   -moz-transform: translate3d(0,-15px,0);
	    -ms-transform: translate3d(0,-15px,0);
	     -o-transform: translate3d(0,-15px,0);
	        transform: translate3d(0,-15px,0);

	-webkit-transition: all 0.4s ease;
	   -moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	     -o-transition: all 0.4s ease;
	        transition: all 0.4s ease;

	box-shadow: 1px 1px 3px -1px #000, inset 1px 1px 3px -1px #000;
	text-shadow: 1px 1px 2px #000;
}
.tj-hover-5{
	overflow: hidden;
}
.tj-hover-5:after{
	background: #000;
	opacity: 0;
	z-index: 1;
}


.tj-hover-5 .tj-overlay:before,.tj-overlay:after{
	content: '';
	position: absolute;
	top:50%;
	left:50%;
	background: #fff;
}
.tj-hover-5 .tj-overlay:before{
	width: 40px;
	height: 1px;
	margin-left: -20px;
	margin-top: -1px;
}
.tj-hover-5 .tj-overlay{

	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	    -ms-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;

	-webkit-transform: translate3d(0,-10px,0);
        -moz-transform: translate3d(0,-10px,0);
         -ms-transform: translate3d(0,-10px,0);
          -o-transform: translate3d(0,-10px,0);
             transform: translate3d(0,-10px,0);     
	

	z-index: 2;

}
.tj-hover-5 img{
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}
.tj-hover-5 .tj-overlay:after{
	width: 1px;
	height: 40px;
	margin-left: -1px;
	margin-top: -20px;
}
.tj-hover-5:hover:after{
	opacity: 0.8;
}
.tj-hover-5:hover .tj-overlay{
	opacity: 1;
	-webkit-transform: translate3d(0,0px,0);
        -moz-transform: translate3d(0,0px,0);
         -ms-transform: translate3d(0,0px,0);
          -o-transform: translate3d(0,0px,0);
             transform: translate3d(0,0px,0); 
}
.tj-hover-5.reverse:after{
	background: #fff;
}
.tj-hover-5.reverse .tj-overlay:after,
.tj-hover-5.reverse .tj-overlay:before{
	background: #000;
}
.tj-hover-5.colorbg:after{
	background: #ef4035;
}


/* Horizontal full height carousel */
 .tj-circle-hover{
 	position: relative;
 }
 .tj-circle-hover:after{
 	content: '';
 	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	left: 0px;
	background: #000;
	opacity: 0.5;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
 }

 .tj-circle-hover:hover:after,
 .tj-circle-hover:focus:after{
 	opacity: 0.2;
 }
.tj-circle-hover .tj-overlay {
	opacity: 1;
}
.tj-circle-hover .tj-overlay .content{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	margin-top: -55px;
	z-index: 3;
	opacity: 0;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}


.tj-circle-hover:hover .tj-overlay .content,
.tj-circle-hover:focus .tj-overlay .content{
	opacity: 1;
}

.tj-circle-hover .tj-overlay .circle{
	width: 110px;
	height: 110px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	margin: 0 auto;
	line-height: 110px;
	position: relative;
}
.tj-circle-hover .tj-overlay .circle:after,.tj-circle-hover .tj-overlay .circle:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.7);

	-webkit-transform-origin: 50% 0;
	   -moz-transform-origin: 50% 0;
	    -ms-transform-origin: 50% 0;
	     -o-transform-origin: 50% 0;
	        transform-origin: 50% 0;

	-webkit-transition: all .75s ease;
       -moz-transition: all .75s ease;
        -ms-transition: all .75s ease;
         -o-transition: all .75s ease;
            transition: all .75s ease;  

	width: 110px;
	height: 110px;
	border-radius: 50%;
}

.tj-circle-hover:hover .tj-overlay .circle:after,
.tj-circle-hover:focus .tj-overlay .circle:after{
	-webkit-transform: rotate(10deg);
	   -moz-transform: rotate(10deg);
	    -ms-transform: rotate(10deg);
	     -o-transform: rotate(10deg);
	        transform: rotate(10deg);

}

.tj-circle-hover:hover .tj-overlay .circle:before,
.tj-circle-hover:focus .tj-overlay .circle:before{
	-webkit-transform: rotate(-10deg);
	   -moz-transform: rotate(-10deg);
	    -ms-transform: rotate(-10deg);
	     -o-transform: rotate(-10deg);
	        transform: rotate(-10deg);	
}

.tj-circle-hover .tj-overlay .circle i{
	font-size: 20px;
	color: #000;
	position: relative;
	z-index: 100;
}

.tj-circle-hover .tj-overlay .details{
	margin-top:20px;
	padding:0 4%;
}
.tj-circle-hover .tj-overlay .details .title{
	margin: 0 0 2px 0;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 1px 1px 1px #000;
	color: #fff;

}
.tj-circle-hover .tj-overlay .details .subtitle{
	margin: 0;
	font-size: 14px;
	text-shadow: 1px 1px 1px #000;
	color:#fff;
	font-family: ralewayregular;
	margin-top: 25px;
	font-weight: 400;
}

.sub-section-title{
	margin-top:100px;
	margin-bottom:30px;
	font-size:30px;
	position:relative;
	padding-left: 28px;
}
.sub-section-title:after{
	content:'';
	width: 9px;
	height: 24px;
	position:absolute;
	top: 5px;
	left:0;
	background-color: #ef4035;
}




/* Bootstrap override 
 **************************************************/
 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
 	padding: 15px;
 }