@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600|Oswald:400,300,700");

@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400italic");
:focus {
  outline: none !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
}
.no-margin {
  margin-left: 0;
}
body {
  font-size: 12px;
  font-family: 'Open Sans';
  float: left;
  width: 100%;
}
header {
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  z-index: 200;
}
header nav {
  text-align: center;
}
.scrollable-container {
  top: 100px;
  position: relative;
  left: 0;
  width: 100%;
}
.logo {
  display: inline-block;
}
.logo a {
  float: left;
}
.logo img {
  max-width: 100%;
  height: auto;
}
#mainNav {
  text-align: center;
  margin-top: 20px;
  position: relative;
  display: inline-block;
}
#mainNav .active-indicator {
  width: 11px;
  height: 11px;
  background-image: url('../img/light-theme/nav-active.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#mainNav ul {
  display: inline-block;
  border-bottom: solid 1px #cdcdcd;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: -1px;
}
#mainNav ul li {
  float: left;
}
#mainNav ul li a {
  font-family: Oswald;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  text-transform: uppercase;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#mainNav ul li a:hover {
  color: #a0ce4e;
  background-color: transparent;
}
#mainNav ul li.active a {
  color: #a0ce4e;
  background-color: transparent;
}
.social-icons {
  float: right;
  margin-top: 20px;
}
.social-icons li {
  float: left;
}
.social-icons li .social {
  width: 28px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  float: left;
  margin: 0 2px;
  background-image: url('../img/light-theme/header-social.png');
}
.social-icons li .social.facebook {
  background-position: 2px 0;
}
.social-icons li .social.facebook:hover {
  background-position: 2px -24px;
}
.social-icons li .social.twitter {
  background-position: -28px 0;
}
.social-icons li .social.twitter:hover {
  background-position: -28px -25px;
}
.social-icons li .social.googleplus {
  background-position: -56px 0;
}
.social-icons li .social.googleplus:hover {
  background-position: -56px -24px;
}
.social-icons li .social.digg {
  background-position: -86px 0;
}
.social-icons li .social.digg:hover {
  background-position: -86px -25px;
}
.social-icons li .social.vimeo {
  background-position: -140px 0;
}
.social-icons li .social.vimeo:hover {
  background-position: -140px -24px;
}
.social-icons li .social.pinterest {
  background-position: -114px 0;
}
.social-icons li .social.pinterest:hover {
  background-position: -114px -24px;
}
.homepage-slider {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.homepage-slider li {
  text-align: center;
  background-size: cover;
}
.homepage-slider .text-section {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.homepage-slider .text-section .title {
  width: 100%;
  font-size: 42px;
  line-height: 43px;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  float: left;
  margin-top: 30px;
  padding-bottom: 30px;
  background-image: url('../img/transparent-line.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}
.homepage-slider .text-section .sub-title {
  width: 100%;
  font-size: 24px;
  line-height: 25px;
  color: white;
  font-weight: 600;
  font-style: italic;
  float: left;
  margin-top: 20px;
  padding-bottom: 20px;
  background-image: url('../img/transparent-line.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}
.homepage-slider .text-section .homepage-slider-button {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  border: solid 2px white;
  padding: 5px 10px;
  font-weight: 700;
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.homepage-slider .text-section .homepage-slider-button:hover {
  color: #f2f2f2;
  background-color: white;
}
.section-title {
  background-color: #e0e0e0;
  text-align: center;
  position: relative;
  z-index: 10;
  padding: 20px 0 30px;
}
.section-title .section-diamond {
  position: absolute;
  left: 48.5%;
  bottom: -14px;
  border: solid 5px #e0e0e0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 23px;
  height: 23px;
  background-image: url('../img/light-theme/section-diamond.png');
  background-position: center center;
  background-repeat: no-repeat;
}
.section-title h1 {
  color: #424242;
  font-size: 60px;
  font-weight: 800;
  line-height: 61px;
  width: 100%;
  background-image: url('../img/light-theme/between-line.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 25px;
  margin-top: 25px;
  text-shadow: none;
}
.section-title h2 {
  font-size: 18px;
  line-height: 19px;
  color: #868686;
  font-weight: 300;
  width: 100%;
  margin: 25px 0 15px;
  padding-bottom: 25px;
}
.services-box {
  text-align: center;
  position: relative;
}
.services-box .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.services-box h3 {
  color: #5a5a5a;
  font-size: 30px;
  font-weight: 800;
  line-height: 31px;
  width: 100%;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 15px;
  text-transform: uppercase;
  display: inline-block;
}
.services-box h4 {
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
  font-weight: 300;
  width: 68%;
  margin: 10px 0;
  padding-bottom: 25px;
  margin-top: 5px;
  display: inline-block;
}
.services-box:hover .services-diamond {
  margin-top: 50px;
  height: 220px;
}
.services-box:hover .services-diamond .services-tail {
  height: 75px;
}
.services-box:hover .services-diamond .content {
  background-color: #a0ce4e;
}
.services-box:hover .services-diamond .bottom-diamond {
  background-color: #a0ce4e;
}
.services-diamond {
  width: 141px;
  height: 200px;
  background-image: url('../img/services-border.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 70px;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.services-diamond .services-tail {
  position: absolute;
  width: 3px;
  bottom: 5px;
  height: 55px;
  left: 69px;
  background-color: #333333;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.services-diamond .bottom-diamond {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 66px;
  bottom: -4px;
  border: solid 2px #333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.services-diamond .content {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: transparent;
  margin-left: 27px;
  margin-top: 28px;
  min-height: 86px;
  width: 87px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.services-diamond .services-icon {
  position: absolute;
  width: 100%;
  height: 145px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.services-diamond .services-icon.design {
  background-image: url('../img/services-design.png');
}
.services-diamond .services-icon.coding {
  background-image: url('../img/services-coding.png');
}
.services-diamond .services-icon.support {
  background-image: url('../img/services-support.png');
}
.portfolio-slider {
  overflow: hidden;
  text-align: center;
}
.portfolio-slider .border {
  background-color: #a0ce4e;
  width: 100%;
  float: left;
  position: relative;
  height: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.portfolio-slider .border .switcher {
  background-image: url('../img/light-theme/portfolio-slider-switcher.png');
  width: 32px;
  height: 32px;
  position: absolute;
  top: -14px;
  left: 48%;
  text-align: left;
  text-indent: -9999px;
  text-transform: capitalize;
}
.portfolio-slider h3 {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  width: 100%;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 15px;
  text-shadow: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.portfolio-slider h4 {
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
  font-weight: 300;
  width: 50%;
  margin: 10px 0;
  padding-bottom: 25px;
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolioSlider .flex-viewport {
  overflow: visible !important;
  text-align: center;
}
#portfolioSlider .flex-active-slide {
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
#portfolioSlider .flex-active-slide h3 {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#portfolioSlider .flex-active-slide h4 {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#portfolioSlider .flex-active-slide .border {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#portfolioSlider .slides li {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.portfolio-details .portfolio-menu {
  width: 100%;
  border-bottom: solid 1px #cdcdcd;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-menu ul {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.portfolio-details .portfolio-menu ul li {
  display: inline-block;
}
.portfolio-details .portfolio-menu ul li a {
  color: #5a5a5a;
  text-decoration: none;
  font-size: 12px;
  padding: 3px 25px 15px;
  text-transform: uppercase;
  background-image: url('../img/light-theme/portfolio-menu-indicator.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  display: inline-block;
  font-weight: 800;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.portfolio-details .portfolio-menu ul li a:hover {
  color: #a0ce4e;
  background-image: url('../img/light-theme/portfolio-menu-indicator-hover.png');
}
.portfolio-details .portfolio-menu ul li.active a {
  color: #a0ce4e;
  background-image: url('../img/light-theme/portfolio-menu-indicator-hover.png');
}
.portfolio-details .portfolio-box {
  text-align: center;
  float: left;
  width: 33.3333%;
  padding-top: 40px;
}
.portfolio-details .portfolio-box:hover figure {
  border-bottom: solid 4px #a0ce4e;
  border-left: solid 4px #a0ce4e;
}
.portfolio-details .portfolio-box:hover figure a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.portfolio-details .portfolio-box:hover h3 {
  color: #5a5a5a;
}
.portfolio-details .portfolio-box:hover p {
  color: #5a5a5a;
}
.portfolio-details .portfolio-box:hover .arrow-icon {
  border-top: solid 3px #a0ce4e;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.portfolio-details .portfolio-box figure {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 105px;
  height: 105px;
  display: inline-block;
  overflow: hidden;
  border-bottom: solid 4px transparent;
  border-left: solid 4px transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.portfolio-details .portfolio-box figure a {
  width: 40px;
  height: 40px;
  top: 40px;
  position: absolute;
  z-index: 10;
  background-image: url('../img/transparent-black.png');
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.portfolio-details .portfolio-box figure a i {
  background-image: url('../img/light-theme/portfolio-icons.png');
  width: 21px;
  height: 21px;
  margin-top: 9px;
  margin-left: 9px;
  float: left;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.portfolio-details .portfolio-box figure a.add {
  left: 0px;
}
.portfolio-details .portfolio-box figure a.add i {
  background-position: 0px 0px;
}
.portfolio-details .portfolio-box figure a.add:hover i {
  background-position: 0px -21px;
}
.portfolio-details .portfolio-box figure a.fullscreen {
  right: 0px;
}
.portfolio-details .portfolio-box figure a.fullscreen i {
  background-position: -21px 0px;
}
.portfolio-details .portfolio-box figure a.fullscreen:hover i {
  background-position: -21px -21px;
}
.portfolio-details .portfolio-box figure img {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 150px;
  height: 150px;
  max-width: 150px;
  margin-top: -20px;
  margin-left: -20px;
}
.portfolio-details .portfolio-box h3 {
  color: #9e9e9e;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  width: 100%;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 15px;
  text-shadow: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.portfolio-details .portfolio-box p {
  font-size: 14px;
  line-height: 18px;
  color: #2d2d2d;
  font-weight: 300;
  width: 70%;
  margin: 10px 0;
  padding-bottom: 10px;
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.portfolio-details .portfolio-box .arrow-icon {
  width: 70%;
  background-image: url('../img/light-theme/arrow-icon.png');
  height: 7px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center -2px;
  border-top: solid 3px #a0ce4e;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects-slider {
  position: relative;
}
.projects-slider .flex-direction-nav {
  position: absolute;
  top: 31%;
  width: 100%;
  left: 0;
  float: left;
}
.projects-slider .flex-direction-nav a {
  width: 14px;
  height: 27px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.projects-slider .flex-direction-nav .flex-prev {
  background-image: url('../img/left-slider-arrow.png');
  left: 0;
}
.projects-slider .flex-direction-nav .flex-next {
  background-image: url('../img/right-slider-arrow.png');
  right: 0;
}
.portfolio_details {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}
.portfolio_details .screenshot-slider figure {
  width: 100%;
  margin-bottom: 20px;
}
.portfolio_details .screenshot-slider figure img {
  width: 100%;
  height: 300px;
}
.portfolio_details .project-description {
  color: #5a5a5a;
  font-weight: 300;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 12px;
  display: inline-block;
}
.portfolio_details .project-description p {
  font-size: 13px;
  margin-bottom: 5px;
}
.portfolio_details .tags {
  color: #6c6c6c;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 12px;
  margin-top: 10px;
  display: inline-block;
}
.portfolio_details .tags ul {
  list-style: none;
  float: left;
}
.portfolio_details .tags ul li {
  background-image: url('../img/light-theme/li-check.png');
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 18px;
  float: left;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}
.section-default {
  background-color: #FFF;
}
.section-default p, .section-default {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}
.section-default .row {
    margin-bottom: 35px;
    margin-top: 35px;
}
.section-parallax {
  height: 340px;
  background-color: #808080;
  width: 100%;
  position: relative;
}
.section-parallax .bg-image {
  height: 340px;
}
h3 {
  color: #6c6c6c;
  font-size: 21px;
  font-weight: 800;
  line-height: 22px;
  width: 100%;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 30px;
  text-shadow: none;
  text-transform: uppercase;
  margin-top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.description {
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
  font-weight: 300;
  width: 70%;
  margin: 10px 0;
  padding-bottom: 25px;
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.progress-info {
  text-align: left;
  color: #5a5a5a;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  margin-top: 30px;
}
.section-contact {
  padding-top: 20px;
}
.section-contact h3 {
  color: #6c6c6c;
  font-size: 21px;
  font-weight: 800;
  line-height: 22px;
  width: 100%;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 25px;
  text-shadow: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section-contact .description {
  font-size: 16px;
  line-height: 20px;
  color: #5a5a5a;
  font-weight: 300;
  width: 100%;
  margin: 10px 0;
  padding-bottom: 25px;
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section-contact address {
  font-family: 'Droid Serif';
  font-style: italic;
  color: #7e7e7e;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.section-blog {
  padding-top: 50px;
}
.section-blog article figure {
  position: relative;
  width: 100%;
}
.section-blog article figure img {
  width: 100%;
  height: auto;
}
.section-blog article figure .figure-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/figure-link.png');
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section-blog article figure .figure-link .plus-sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/plus.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.section-blog article figure .figure-link:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.section-blog article h2, h3#reply-title  {
  font-size: 18px;
  line-height: 19px;
  font-weight: 600;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 20px;
}
.section-blog article h2 a {
  color: #5a5a5a;
}
.section-blog article .date {
  color: #6c6c6c;
  font-size: 12px;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 10px;
  display: inline-block;
  width: 100%;
  font-weight: 300;
}
.section-blog article .date a {
  color: #2d2d2d;
}
.section-blog article .excerpt {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2d2d2d;
  font-size: 14px;
  display: inline-block;
  font-weight: 300;
}
.section-blog article .article-content {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2d2d2d;
  font-size: 14px;
  display: inline-block;
  font-weight: 300;
}
.section-blog article .article-section .title-container {
  width: 100%;
  display: inline-block;
  border-bottom: solid 1px #c2c2c2;
  margin-bottom: 10px;
}
.section-blog article .article-section .title-container h2, h3#reply-title  {
  float: left;
  font-size: 16px;
  font-weight: 300;
  border-bottom: solid 4px #a0ce4e;
  color: #5a5a5a;
  margin: 0;
  margin-bottom: -1px;
  padding-bottom: 10px;
  background-image: none;
}
.section-blog article .article-section .article-section-content {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 0 10px;
}
.section-blog article.first-article .inner-article {
  border-top: none;
  padding-top: 0;
}
.section-blog .button-container {
  text-align: center;
  background-image: url('../img/transparent-line.png');
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.section-blog .inner {
  border-right: solid 1px #c2c2c2;
}
.section-blog .inner-article {
  border-top: solid 1px #c2c2c2;
  padding: 40px 40px 20px 0;
}
.section-blog .center {
  text-align: center;
}
.comments {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  float: left;
}
.comments .box-title h2 {
  font-size: 18px;
}
.comments .left {
  float: left;
  width: 65px;
}
.comments .left figure {
  width: 100%;
  height: 65px;
  float: left;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: -1px 0;
}
.comments .left figure img {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  max-width: 74px;
  width: 74px;
  height: 74px;
  margin-left: -13px;
  margin-top: 2px;
}
.comments .right {
  margin-left: 84px;
}
.comments .comment {
  float: left;
}
.comments .name {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}
.comments .name a {
  color: #5a5a5a;
}
.comments .post-date {
  color: #7a7a7a;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  margin-left: 5px;
}
.comments .text {
  margin-bottom: 15px;
}
.comments .text p {
  font-size: 13px;
  color: #848484;
  font-weight: 300;
}
.comments .inline-comment {
  position: relative;
}
.comments .inline-comment .text p {
  font-size: 12px;
  color: #848484;
  font-weight: 300;
}
.pagination {
  display: inline-block;
  border-top: solid 1px #c2c2c2;
  padding-top: 20px;
}
.pagination .active a, .pagination .current {
  background-color: #a0ce4e !important;
}
.pagination a, .pagination span {
  background-color: #dbdbdb !important;
  border: none !important;
  color: #666666 !important;
  margin: 0 3px;
  font-size: 14px !important;
  font-weight: normal !important;
}
.pagination a:first-child {
  -webkit-border-radius: 0 !important;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 !important;
  -moz-background-clip: padding;
  border-radius: 0 !important;
  background-clip: padding-box;
}
.pagination a:last-child {
  -webkit-border-radius: 0 !important;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 !important;
  -moz-background-clip: padding;
  border-radius: 0 !important;
  background-clip: padding-box;
}
.pagination a:hover {
  background-color: #a0ce4e !important;
}
.team-member {
  text-align: center;
  width: 33.3333%;
  float: left;
}
.team-member figure {
  width: 125px;
  height: 125px;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-bottom: 35px;
}
.team-member figure img {
  width: 172px;
  height: 172px;
  max-width: 172px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: -24px;
  margin-top: -24px;
}
.team-member h4 {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 800;
  line-height: 15px;
  width: 100%;
  background-image: url('../img/light-theme/between-line-light.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 15px;
  text-shadow: none;
  text-transform: uppercase;
  text-align: center;
}
.team-member .job-title {
  width: 100%;
  text-align: center;
  color: #2d2d2d;
  font-style: italic;
  font-weight: 300;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 20px;
}
.team-member p {
  width: 65%;
  text-align: center;
  color: #2d2d2d;
  font-weight: 300;
  display: inline-block;
  font-size: 14px;
}
.team-member .social-links ul {
  display: inline-block;
}
.team-member .social-links ul li {
  display: inline-block;
}
.team-member .social-links a {
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 0 1px;
  background-image: url('../img/light-theme/member-social.png');
  text-indent: -9999px;
  text-align: left;
  text-transform: capitalize;
}
.team-member .social-links a.facebook {
  background-position: -21px 0;
}
.team-member .social-links a.facebook:hover {
  background-position: -21px -22px;
}
.team-member .social-links a.twitter {
  background-position: 0px 0;
}
.team-member .social-links a.twitter:hover {
  background-position: 0px -22px;
}
.team-member .social-links a.pinterest {
  background-position: -42px 0;
}
.team-member .social-links a.pinterest:hover {
  background-position: -42px -22px;
}
.team-member .social-links a.googleplus {
  background-position: -63px 0;
}
.team-member .social-links a.googleplus:hover {
  background-position: -63px -22px;
}
.flickr-stream {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.flickr-stream .flickr-item {
  width: 20%;
  float: left;
  margin: -3px;
}
.flickr-stream .flickr-item figure {
  border: solid 6px transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.flickr-stream .flickr-item figure a {
  width: 100%;
  display: inline-block;
}
.flickr-stream .flickr-item figure img {
  width: 100%;
  height: 142px;
}
.flickr-stream .flickr-item:hover figure {
  border: solid 6px #a0ce4e;
}
.testimonials-box {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  text-align: left;
}
.testimonials-box p {
  font-size: 13px;
  font-family: Georgia;
  font-style: italic;
  color: #9e9e9e;
}
.testimonials-box .author {
  color: #5a5a5a;
  font-size: 13px;
  display: inline-block;
}
.testimonials-box .flex-viewport {
  width: 99%;
}
.widget {
  margin-bottom: 10px;
  width: 100%;
  float: left;
}
.widget .title-container {
  width: 100%;
  display: inline-block;
  border-bottom: solid 1px #4b4b4b;
}
.widget .title-container h2 {
  float: left;
  font-size: 16px;
  font-weight: 300;
  border-bottom: solid 4px #a0ce4e;
  color: #5a5a5a;
  margin: 0;
  margin-bottom: -1px;
}
.widget .facebook-container {
  display: inline-block;
  margin-top: 10px;
}
.widget .nav-tabs {
  border-bottom: none;
  margin-bottom: 10px;
}
.widget .nav-tabs li {
  width: 33.33%;
}
.widget .nav-tabs li a {
  padding: 0;
  margin-right: 0;
  text-align: center;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  border: none;
  border-left: solid 1px #c2c2c2;
  border-bottom: solid 1px #c2c2c2;
  color: #7a7a7a;
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
}
.widget .nav-tabs li a:hover {
  background-color: transparent;
  color: #5a5a5a;
}
.widget .nav-tabs li a:hover .inner-tab {
  border-bottom: solid 4px #a0ce4e;
}
.widget .nav-tabs li a .inner-tab {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  border-bottom: solid 4px transparent;
  border-left: solid 0px #c2c2c2;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.widget .nav-tabs li.first-child.active a .inner-tab {
  border-left: none;
}
.widget .nav-tabs li.first-child a {
  border-left: solid 0px #252525;
}
.widget .nav-tabs li.active a {
  border-left: solid 0px #c2c2c2;
  border: none;
  border-bottom: solid 1px #C2C2C2;
  background-color: transparent;
  color: #5a5a5a;
}
.widget .nav-tabs li.active a .inner-tab {
  border-left: solid 1px #c2c2c2;
  border-bottom: solid 4px #a0ce4e;
}
.widget .post-list {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.widget .post-list li {
  width: 100%;
  float: left;
  margin-bottom: 5px;
}
.widget .post-list li {
  float: left;
  width: 100%;
  text-decoration: none;
}
.widget .post-list li figure {
  float: left;
  width: 45px;
  height: 45px;
  margin: 0 10px 10px 0;
}
.widget .post-list li.title {
  display: block;
  font-size: 13px;
  color: #5a5a5a;
}
.widget .post-list li .title:hover {
    color: #A0CE4E;
}
.widget .post-list li .details {
  display: block;
  color: #b2b2b2;
  font-size: 12px;
}
.widget form {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.widget form .input-append {
  -webkit-box-shadow: 0px 0 2px #d3d3d3;
  -moz-box-shadow: 0px 0 2px #d3d3d3;
  box-shadow: 0px 0 2px #d3d3d3;
  color: 0px 0 2px #d3d3d3;
}
.widget form .input-append input {
  background-color: #ffffff;
  border: none;
  color: #c6c6c6;
  padding: 15px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Droid Serif";
  font-style: italic;
}
.widget form .input-append .btn {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  background-image: none;
  background-color: #e9e9e9;
  border: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 40px;
  line-height: 40px;
  padding: 2px 18px 8px 20px;
  font-family: "Open Sans";
  color: #b2b2b2;
}
.quote {
  width: 100%;
  font-size: 24px;
  line-height: 25px;
  color: white;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  float: left;
  margin-top: 100px;
  padding-bottom: 30px;
  background-image: url('../img/light-theme/between-line-quote.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  text-shadow: 2px 2px 8px black;
}
.quote-author {
  width: 100%;
  font-size: 19px;
  line-height: 20px;
  color: white;
  font-style: italic;
  text-align: center;
  float: left;
  margin-top: 20px;
  text-shadow: 2px 2px 8px black;
}
.left-quote {
  font-family: 'Times New Roman';
  font-size: 40px;
}
.right-quote {
  font-family: 'Times New Roman';
  font-size: 40px;
}
.custom-button {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-size: 14px;
  font-family: "Open Sans", Arial;
  font-weight: 700;
  background-color: transparent;
  background-image: none;
  color: #c0c0c0;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 10px;
  border: solid 1px #c0c0c0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.custom-button:hover {
  background-color: #a0ce4e;
  border: solid 1px #a0ce4e;
  color: #4c4c4c;
}
.custom-form input[type='text'],
.custom-form input[type='email'],
.custom-form textarea,
#commentform input[type='text'],
#commentform input[type='email'],
#commentform textarea {
  background-color: #ffffff;
  border: solid 1px #e4e4e4;
  color: #c6c6c6;
  padding: 20px 15px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Droid Serif";
  font-style: italic;
  color: 0px 2px 3px #d3d3d3;
  margin-bottom: 15px;
}
.custom-form label, #commentform label {
  font-size: 15px;
  font-weight: 800;
  color: #5a5a5a;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.progress {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  background-color: #e3e3e3;
  background-image: none;
  height: 35px;
}
.progress .bar {
  background-color: #8eb14e;
  background-image: none;
}
.flex-control-nav {
  position: relative;
  bottom: 0;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  background-image: url('../img/light-theme/slider-nav.png');
  background-color: transparent;
  box-shadow: none;
}
.flex-control-paging li a.flex-active {
  background-color: transparent;
  background-image: url('../img/light-theme/slider-nav-hover.png');
}
.flex-control-paging li a:hover {
  background-color: transparent;
  background-image: url('../img/light-theme/slider-nav-hover.png');
}
footer {
  color: #5a5a5a;
  background-color: #fff;
}
footer p {
  margin-top: 12px;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  transition-duration: 0.8s;
}
.isotope {
  transition-property: height, width;
}
.isotope .isotope-item {
  transition-property: transform, opacity;
}
.confirmation_message {
  display: none;
}
@media (min-width: 1170px) {
  .section-title .section-diamond {
    left: 49%;
  }
  .homepage-slider .text-section .title {
    margin-top: 90px;
    font-size: 50px;
    line-height: 51px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #mainNav ul li a {
    padding: 5px 4px;
  }
  .social-icons li .social {
    margin: 0 10px 3px;
  }
  .homepage-slider .text-section .title {
    padding-bottom: 20px;
    margin-top: 25px;
  }
  .homepage-slider .text-section .sub-title {
    margin-top: 15px;
    padding-bottom: 15px;
  }
  .homepage-slider .text-section .homepage-slider-button {
    margin: 15px 0;
  }
  .flickr-stream .flickr-item {
    width: 33%;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  body {
    padding: 0;
  }
  header {
    position: relative;
    text-align: center;
  }
  .social-icons {
    margin-top: 5px;
    float: none;
    display: inline-block;
  }
  .homepage-slider li {
    overflow: hidden;
  }
  .homepage-slider li img {
    height: 80%;
    width: auto;
    max-width: none;
  }
  .section-title .section-diamond {
    left: 45.6%;
  }
  .scrollable-container {
    top: 0px;
  }
  .portfolio-details .portfolio-box {
    width: 100%;
  }
  #portfolioSlider .flex-viewport {
    overflow: hidden !important;
  }
  .team-member {
    width: 100% !important;
  }
  .team-member figure {
    margin-top: 35px;
  }
  .team-member .social-links {
    margin-bottom: 5px;
  }
  .testimonials-box .flex-control-nav {
    margin-top: 10px;
  }
  .container > .row {
    padding: 0 15px;
  }
  .portfolio-details .portfolio-menu ul li a {
    padding: 3px 10px 15px;
  }
  footer p {
    text-align: center;
  }
  .custom-form input[type="text"],
  .custom-form input[type="email"],
  .custom-form textarea {
    min-height: 55px;
  }
  .section-blog .inner {
    border: none;
  }
  .section-blog .inner-article {
    padding-right: 0;
  }
  .widget form .input-append input {
    min-height: 49px;
  }
  .flickr-stream .flickr-item {
    width: 50%;
  }
}
@media (min-width: 200px) and (max-width: 340px) {
  body {
    padding: 0;
  }
}

.widget a {
  color: #5A5A5A;
}