/*
Theme Name: Teo
Theme URI: http://themeforest.net/user/FinalDestiny
Version: 1.3
Description: Responsive Parallax Single Page Portfolio theme
Author: TeoThemes
Author URI: http://themeforest.net/user/FinalDestiny
Created Date: 16/06/2013
License: Themeforest
License URI: http://www.gnu.org/licenses/gpl-3.0.html
All files, unless otherwise stated, are released under the GNU General Public License
Tags: dark, light, white, black, gray, one-column, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, full-width-template, theme-options, translation-ready
*/

.portfolio_details .half {
	margin-right: 3%;
	width: 47%;
	float: left;
	text-align: center;
}

.screenshot-slider {
	position: relative;
	margin-bottom: 25px !important;
}
.screenshot-slider.flexslider {
  background: transparent;
  border-radius: 0;
  border: none;
}
.portfolio-details {
    margin-top: 10px;
}
.widget .nav-tabs li a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	border-top: none;
	border-right: none;
}

.wp-pagenavi a, .wp-pagenavi span {
	padding: 4px 12px !important;
}

.pagination .nextpostslink, .pagination .previouspostslink {
	font-weight: bold !important;
}
.form-allowed-tags {
	display: none;
}

#commentform input[type='text'],
#commentform input[type='email'],
#commentform textarea {
  width: 90%;
}

h3#reply-title {
	width: auto !important;
}

ol.commentlist {
    list-style: none;
}

li ul li {
    margin-left: 90px;
}

.comments a, #respond a {
	color: #FFF;
}

.single-navigation a {
	color: #D8D8D8;
}
.single-navigation .prev {
	float: left;
}
.single-navigation .next {
	float: right;
}

.clear {
	clear: both;
}

.custom-button a {
	color: #FFF;
	text-decoration: none;
}

.portfolio-details .portfolio-menu ul li {
	line-height: 40px;
}

@media only screen and (max-width: 768px) {
	.portfolio_details .half {
		width: 100%;
	}
}
.tags .btn {
    margin-right: 5px;
}

/* #Wordpress related css
================================================== */

.wp-caption {
	max-width: 100%;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    padding: 6px 2px 0;
}
.wp-caption-text {
    font-size: 11px;
    padding: 0 4px 5px;
}
.aligncenter {
	display: block;
    margin: 0 auto;
}
.alignleft { 
	float: left;
	margin: 0px 10px 10px 0px; 
}
.alignright { 
	float: right;
	margin: 0px 0px 10px 10px; 
}
.sticky {
}

.gallery-caption {

}

.bypostauthor {
	
}