/**
 * Raindrops Langueges Style Rules for Japanese (ja)
 * 
 * Filetype: CSS
 * @package Raindrops
 */
body.ja,
.ja h1,
.ja h2, 
.ja h3,
.ja .h1,
.ja .h2, 
.ja .h3{
	font-family:'Meiryo',Arial,sans-serif;
}
.ja .entry-content h4,
.ja .entry-content h5,
.ja .entry-content h6,
.ja .entry-content h1,
.ja .entry-content h2,
.ja .entry-content h3,
.ja .entry-content .h4,
.ja .entry-content .h5,
.ja .entry-content .h6,
.ja .entry-content .h1,
.ja .entry-content .h2, 
.ja .entry-content .h3{
       margin:1.6em 0;   
}
/* Raindrops new h1-h6 font size from ver 0.996 start */

.ja #site-title{
	font-size:197%;
	letter-spacing: 0.04em;	

}
.ja .entry-title{
	font-size:146.5%;
	letter-spacing: 0.07em;
        font-weight:bold;
}
.ja .lsidebar h2,
.ja .rsidebar h2{
	font-size:108%;
}
.ja .h1:not(h1),
.ja h1{
	font-size:161.6%;
	letter-spacing: 0;	

	}
.ja .h2:not(h2),
.ja h2{
	font-size:138.5%;
	letter-spacing: 0;	

	}
.ja .h3:not(h3),
.ja h3{
	font-size:116%;
	letter-spacing: 0;	

	}
.ja .h4:not(h4),
.ja h4{
	font-size:100%;
	letter-spacing: 0;	

	}
.ja .h5:not(h5),
.ja h5{
	font-size:85%;
	letter-spacing: 0.2em;	
	}
.ja .h6:not(h6),
.ja h6{
	font-size:xx-small;
	letter-spacing: 0.2em;	
	}
/* Raindrops new h1-h6 font size from ver 0.996 end */ 
.ja .footer-widget h2,
.ja .rsidebar h2,
.ja .lsidebar h2,
.ja .widgettitle h2,
.ja h2.footer-content {
	height:17px;
	text-indent:.5em;
	font-size:108%;
	padding:5px 0;
}
.ja .author .entry-title{
	display:inline-block;
	font-size:123.1%;
	margin-left:.6em;
}
.ja main .author .h2-thumb img{
	width:24px;
	height:24px;
}
.ja.date table .entry-title{
	font-size:108%;
	font-weight:normal;
	font-family:arial,helvetica,clean,sans-serif;
	
}
.ja.date .entry-title{
	font-weight:normal;
	font-family:arial,helvetica,clean,sans-serif;
}
.ja #list-of-post ol .entry-title{
	font-weight:normal!important;
	font-size:197%;
	font-family:arial,helvetica,clean,sans-serif;
}

.ja em{
        font-weight:bold;
}
.ja i{
        font-style: italic;
}
.ja p{
    line-height:1.6;
}
.ja .datetable .time,
.ja .datetable .month-name, 
.ja .datetable .year-name, 
.ja .datetable .day-name{
    font-style:normal;
}