/**
 * Override woocomerce styles for Toranj theme
 * @author 		owwwlab
 * @package 	toranj
 */

.shop-menus{
	margin-bottom: 0px;
}
.woocommerce .page-wrapper,
.woocommerce-page .page-wrapper,
.page-template-template-woocommerce-page-php .page-wrapper{
	padding-top: 0;
}

#shop-header{
	background: #f4f4f4;
	padding: 55px 0 50px 0;
}
#shop-nav{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

#shop-nav li{
	position: relative;
	display: inline-block;
	color: #bbbbbb;
	margin-bottom: 0;
	margin-left: -5px;
}
#shop-nav li:first-child{
	margin-left: 0;
}
#shop-nav li::after{
	content: '|';
	position: absolute;
	top: 0;
	right: 0;
}
#shop-nav li:last-child::after{
	display: none;
}
#shop-nav li a{
	padding: 10px;
	color: #bbb;
	font-size: 12px;
	text-transform: uppercase;
}
#shop-nav li:last-child a{
	padding-right: 0;
}

#shop-nav li.current-menu-item a{
	font-family: ralewaybold;
	font-weight: bold;
	color: #8A8A8A;
}
.woocommerce-breadcrumb {
	text-transform: uppercase;
	color: #bbb;
	font-size: 12px;
	float: left;

}
.woocommerce-breadcrumb a{
	padding: 10px 5px;
}
.woocommerce-breadcrumb a:first-child{
	padding-left: 0;
}
.woocommerce .left-side,
.woocommerce-page .left-side{
	float: left;
	margin:0;
	max-width: 50%;
}
.woocommerce .page-title{
	margin-bottom: 20px;
}
.woocommerce .woocommerce-breadcrumb a, 
.woocommerce-page .woocommerce-breadcrumb a, 
.woocommerce .woocommerce-breadcrumb, 
.woocommerce-page .woocommerce-breadcrumb{
	color: #bbb;
}
#shop-cart{
	float: right;
}


.shop-top-bar{
	background: #ececec;
	padding: 10px 0;
}
.shop-top-bar .container >*{
	margin-bottom: 0 !important;
}
.shop-main-wrapper{
	margin-top: 80px;
}

.woocommerce-result-count{
	padding: 10px 0;
}

.shop-main-wrapper.with-sidebar .shop-main{
	width: 75%;
	float: left;
	padding-left: 15px;
}

.shop-main-wrapper.with-sidebar .shop-sidebar{
	width: 25%;
	float: left;
	padding-right: 15px;
}
.shop-main-wrapper.no-sidebar .shop-sidebar{
	display: none;
}
.shop-main-wrapper.right-sidebar .shop-main{
	padding-left: 0;
	padding-right: 15px;
}
.shop-main-wrapper.right-sidebar .shop-sidebar{
	float: right;
	padding-right: 0;
	padding-left: 15px;
}


.shop-main-wrapper.right-sidebar .shop-sidebar{
	width: 25%;
	float: left;
}

.shop-main-wrapper.left-sidebar .shop-main{
	float: right;
}
.shop-post-head{
	position: relative;
	overflow: hidden;
}
.shop-post-head .tj-add-to-cart{
	position: absolute;
	width:100%;
	bottom:-50px;
	z-index: 1;

	-webkit-transition: all .25s cubic-bezier(.09,.72,.49,.98);
	   -moz-transition: all .25s cubic-bezier(.09,.72,.49,.98);
	    -ms-transition: all .25s cubic-bezier(.09,.72,.49,.98);
	     -o-transition: all .25s cubic-bezier(.09,.72,.49,.98);
	        transition: all .25s cubic-bezier(.09,.72,.49,.98);
}


.shop-post-head .add_to_cart_button,
.shop-post-head .added_to_cart{
	color:#474747;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.6);
	padding:10px !important;
	text-align: center;
	display: block !important;
	font-family: ralewaysemibold;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.shop-post-head .add_to_cart_button:hover,
.shop-post-head .add_to_cart_button:focus,
.shop-post-head .added_to_cart:hover,
.shop-post-head .added_to_cart:focus{
	color:#000;
	background: rgba(255, 255, 255, 0.9);
}
.shop-post-head .add_to_cart_button i{
	margin:0 5px;
}
.shop-post-head .add_to_cart_button.added{
	display: none !important;
}
.shop-post-head img{
	margin-bottom: 0 !important;
}

.woocommerce .star-rating, .woocommerce-page .star-rating,
.woocommerce .star-rating::before, .woocommerce-page .star-rating::before{
	color:#dc971f;
	font-size: 12px;
}
.shop-post-content .star-rating {
	margin:0 !important;
	display: inline-block !important;
}

.shop-post-content{
	background: #3d3d3d;
	text-align: center;
	padding: 20px 15px 15px;
}

h3.shop-post-title a{
	color: #fdfdfd ;
	font-size: 13px;
	font-family: ralewayregular;
	position: relative;
	display: block;
	margin-bottom: 5px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.woocommerce ul.products li.product{
	-webkit-box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.2);
}
.woocommerce ul.products li.product h3.shop-post-title, 
.woocommerce-page ul.products li.product h3.shop-post-title{
	font-size: 15px;
	padding: 0;
}

.shop-post-title a::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 70px;
	height: 1px;
	margin-left: -35px;
	background: #dc971f;
}


.woocommerce ul.products li.product .price, 
.woocommerce-page ul.products li.product .price{
	color:#adadad;
	font-size: 14px;
	font-family: ralewaysemibold;
}


.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{
	width: 30%;
	margin-right: 5%;
}
.woocommerce.columns-4 ul.products li.product, 
.woocommerce-page.columns-4 ul.products li.product{
	width: 22.05%;
	margin: 0 3.8% 2.992em 0;
	box-shadow: none;
}
.woocommerce ul.products li.product.last,
.woocommerce-page ul.products li.product.last{
	margin-right: 0%;
}

.woocommerce span.onsale, 
.woocommerce-page span.onsale{
	background: #dc971f;
	color: #fff;
	width: 45px;
	height: 45px;
	line-height: 45px;
	padding: 0;
	border-radius: 50%;
	box-shadow: none;
	text-shadow: none;
	text-transform: uppercase;
	font-family: 'ralewayextrabold';
	font-size: 12px;
	font-weight: initial;
}

.woocommerce ul.products li.product .onsale,
 .woocommerce-page ul.products li.product .onsale{
 	top: 0;
	right: auto;
	left: 0;
	margin: 5px;
	z-index: 2;
}

.woocommerce ul.products li.product img{
	-webkit-transition: all 0.5s cubic-bezier(.46,.59,.45,.75);
	   -moz-transition: all 0.5s cubic-bezier(.46,.59,.45,.75);
	    -ms-transition: all 0.5s cubic-bezier(.46,.59,.45,.75);
	     -o-transition: all 0.5s cubic-bezier(.46,.59,.45,.75);
	        transition: all 0.5s cubic-bezier(.46,.59,.45,.75);
}
.woocommerce ul.products li.product:hover img,
.woocommerce ul.products li.product:focus img{
	-webkit-transform: scale(1.1, 1.1);
	   -moz-transform: scale(1.1, 1.1);
	    -ms-transform: scale(1.1, 1.1);
	     -o-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
}

.woocommerce ul.products li.product:hover .shop-post-head .tj-add-to-cart,
.woocommerce ul.products li.product:focus .shop-post-head .tj-add-to-cart{
	bottom: 0;
}










.product-categories{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: ralewaybold;
	font-size: 14px;
}

.product-categories li {
	border-bottom: 1px dotted #ccc;
}
.product-categories li,
.product-categories li.cat-parent >a{
	margin-bottom: 9px;
	padding-bottom: 9px;
}

.product-categories .children{
	list-style: none;
	padding: 0;
	margin-top: 9px;
	padding-top: 9px;
	border-top: 1px dotted #ccc;
}
.product-categories li a{
	color: #474747;
}
.product-categories li span.count{
	float:right;
}

.product-categories li.cat-parent{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}
.product-categories li.cat-parent >a{
	
}


.product-categories .children li a,
.product-categories .children li span{
	padding-left: 20px;
	font-family: ralewayregular;
}

.shop-sidebar .widget-title{
	font-size: 20px;
	font-family: ralewaybold;
	text-transform: uppercase;
}

.woocommerce nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li{
	background: transparent;
}

.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li span{
	background: #f1f1f1;
}

.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce  nav.woocommerce-pagination ul li a{
	padding: 14px 18px !important;
	display: block !important;
}

.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce  nav.woocommerce-pagination ul li a:hover,
.woocommerce  nav.woocommerce-pagination ul li a:focus
{
	background:#dc971f;
	color: #fff;
}


.woocommerce-pagination {
	padding: 25px 0 0 0;
	border-top: 1px solid #eee;
}


#shop-cart{
	display: block;
	padding-right: 70px;
	position: relative;
	margin-top: 40px;
}

#shop-cart::after{
	content: "\f07a";
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border:2px solid #474747;
	font-family: FontAwesome;
	color: #474747;
	text-align: center;
	line-height: 45px;
	font-size: 23px;
	top: 0;
	right: 0;
}

.shop-cart-title{
	text-transform: uppercase;
	font-size: 14px;
	color: #bbb;
	margin-top: 0;
	margin-bottom: 20px;
}
.shop-cart-title span{
	float: right;
}
.cart-contents{
	color: #dc971f;
	font-size: 20px;
	float: right;
}

.woocommerce-result-count{
	line-height: 65px;
}
/* Drop down */
select.orderby{
	visibility: hidden;
}
.cd-dropdown,
.cd-select {
	position: relative;
	width: 300px;
	margin: 20px auto;
	display: block;
}

.cd-dropdown > span {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #999;
	font-size: 15px;
	background: #fff;
	display: block;
	padding: 0 50px 0 30px;
	position: relative;
	cursor: pointer;
	font-family: "ralewaysemibold";
}

.cd-dropdown > span::after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 50px;
	text-align: center;
	font-size: 9px;
	padding: 10px;
	height: 70%;
	line-height: 12px;
	border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 40px;
	padding: 0 15px 0 15px;
	display: block;
	color: #777;
	cursor: pointer;
	font-weight: 700;
	font-family: ralewaysemibold;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}

.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}

.cd-active.cd-dropdown > span {
	color: #dc971f;
}

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #dc971f;
	color: #fff;
}



/* single product page
**************************************************/
.tj-shop-wrapper{
	margin-top:80px;
}

.woocommerce div.product div.images, 
 .woocommerce-page div.product div.images{
 	width: 41%;
 }

 .woocommerce div.product div.summary, 
 .woocommerce-page div.product div.summary{
 	width: 55%;
 }

.woocommerce div.product div.images img{
	border:10px solid #fff;
}
.woocommerce div.product div.images .thumbnails img{
	border:4px solid #fff;
}

.woocommerce-page div.product div.thumbnails a{
	width:18%;
	margin-right:2.5%;
}


.woocommerce div.product p.price,
.woocommerce-page div.product p.price{
	/*width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	border:2px solid #474747;*/
	line-height: 70px;
	font-family:ralewaybold;
	color:#474747;
	position: relative;
	margin-bottom: 0;
}

.woocommerce div.product p.price del,
.woocommerce-page div.product p.price del{
	display: block;
	color:#c5c5c5;
	font-size: 15px;
	position: absolute;
	left:0;
	width:100%;
	text-align:left;
	top:20px;

}


.woocommerce div.product p.price ins,
.woocommerce-page div.product p.price ins{
	color:#474747;
	font-size: 16px;
	text-decoration: none;

}

.woocommerce-product-rating .woocommerce-review-link{
	font-size: 12px;
}

.woocommerce .woocommerce-product-rating, 
.woocommerce-page .woocommerce-product-rating{
	margin-left:0px;
	position: relative;
	top: 10px;
}
.woocommerce .woocommerce-product-rating .star-rating, 
.woocommerce-page .woocommerce-product-rating .star-rating{
	float: none;
	font-size: 15px;
}

.woocommerce .star-rating, .woocommerce-page .star-rating, 
.woocommerce .star-rating::before, .woocommerce-page .star-rating::before{
	font-size: 15px;
}


.woocommerce-page div.product .product_title,
.woocommerce-page div.product .product_title{
	padding-bottom: 20px;
	border-bottom:1px solid #eee;
}

.woocommerce .tj-single-price, 
.woocommerce-page .tj-single-price,
.woocommerce .woocommerce-product-rating, 
.woocommerce-page .woocommerce-product-rating,
.woocommerce-page div.product form.cart,
.woocommerce div.product form.cart
{
	display: block;
}

.woocommerce div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity{
	width: 80px;
	height: 40px;
	display: inline-block;
}
.woocommerce div.product form.cart div.quantity .minus,
.woocommerce-page div.product form.cart div.quantity .minus,
.woocommerce div.product form.cart div.quantity .plus,
.woocommerce-page div.product form.cart div.quantity .plus{
	width: 30px;
	height: 18px;
	text-align: center;
	line-height:18px;
	background: #f4f4f4;
	color:#474747;
	font-size: 14px;
	box-shadow: none;
	text-shadow: none;
	border:none;
	border:1px solid #ebebeb;
	box-sizing: initial;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.woocommerce div.product form.cart div.quantity .minus:hover,
.woocommerce-page div.product form.cart div.quantity .minus:hover,
.woocommerce div.product form.cart div.quantity .plus:hover,
.woocommerce-page div.product form.cart div.quantity .plus:hover,
.woocommerce div.product form.cart div.quantity .minus:focus,
.woocommerce-page div.product form.cart div.quantity .minus:focus,
.woocommerce div.product form.cart div.quantity .plus:focus,
.woocommerce-page div.product form.cart div.quantity .plus:focus{
	background: #474747;
	color: #fff;
	outline: none;
	box-shadow: none;
	text-shadow: none;
}
.woocommerce div.product form.cart div.quantity input.qty,
.woocommerce-page div.product form.cart div.quantity input.qty
{
	width: 100%;
	height: 100%;
	border:1px solid #ebebeb;
	text-align: left;
	font-family: ralewaybold;
	font-size: 16px;
	padding:0;
	padding-left: 15px;
}
.woocommerce div.product form.cart .btn,
.woocommerce-page div.product form.cart .btn{
	float:left;
}
.woocommerce div.product form.cart,
.woocommerce-page div.product form.cart{
	float:none;
	margin-bottom: 15px;
	position: relative;
	top:15px;
}

.woocommerce div.product .tj-shop-description,
.woocommerce-page div.product .tj-shop-description{
	border-top:1px solid #eee;
	margin-top:20px;
	padding-top: 15px;
}
.woocommerce div.product .tj-shop-description::before,
.woocommerce-page div.product .tj-shop-description::before,
.woocommerce div.product form.cart::after,
.woocommerce-page div.product form.cart::after{
	clear: both;
	display: table;
	content: '';
}

.woocommerce .alert a.button,
.woocommerce-page .alert a.button{
	float:right;
	border: 1px solid #ebebeb;
	border-radius: 0;
	text-transform: uppercase;
	padding: 10px 25px;
	font-weight: normal;
	font-size: 13px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	background: #fdfdfd;
	color: #474747;
	box-shadow: none;
}

.woocommerce .alert a.button:hover,
.woocommerce-page .alert a.button:hover,
.woocommerce .alert a.button:focus,
.woocommerce-page .alert a.button:focus{
	color: #333;
	background-color: #f1f1f1;
	border-color: #dedede;
}
.woocommerce .alert,
.woocommerce-page .alert{
	line-height: 35px;
	margin-bottom: 80px;
}
.woocommerce .alert::after,
.woocommerce-page .alert::after{
	content: '';
	display: table;
	clear:both;
}


.woocommerce .tj-shop-single .tabs,
.woocommerce-page .tj-shop-single .tabs{
	margin-top: 50px;
	margin-bottom: 50px;
}

.woocommerce .tj-shop-single .tabs h2,
.woocommerce-page .tj-shop-single .tabs h2{
	font-size: 20px;
}

.woocommerce .tj-shop-single .tabs #review_form_wrapper,
.woocommerce-page .tj-shop-single .tabs #review_form_wrapper{
	width:48%;
	float: left;
}

.woocommerce .tj-shop-single .tabs #comments,
.woocommerce-page .tj-shop-single .tabs #comments{
	width:48%;
	float: left;
	margin-right: 4%;
}

.woocommerce .tj-shop-single .tabs #comments h2:first-child,
.woocommerce-page .tj-shop-single .tabs #comments h2:first-child,
.woocommerce #reviews h3, .woocommerce-page #reviews h3,
.woocommerce-page #reviews h3, .woocommerce-page #reviews h3{
	margin-top: 0;
	font-size: 22px;
	margin-bottom: 40px;
}


.woocommerce #reviews #comments .comment_container,
.woocommerce-page #reviews #comments .comment_container{
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.woocommerce #reviews #comments ol.commentlist,
.woocommerce-page #reviews #comments ol.commentlist{
	padding: 0;
}	

.woocommerce #reviews #comments ol.commentlist li img.avatar,
.woocommerce-page #reviews #comments ol.commentlist li img.avatar{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:1px solid #474747;
	padding: 5px;
	position: relative;
}


.woocommerce #reviews #comments ol.commentlist li .comment-text, 
.woocommerce-page #reviews #comments ol.commentlist li .comment-text{
	margin-left: 70px;
	border:none;
	padding-top: 5px;
	
}

.woocommerce #reviews #comments ol.commentlist .star-rating,
.woocommerce-page #reviews #comments ol.commentlist .star-rating{
	float: none;
	display: block;
	margin-bottom: 15px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .meta, 
.woocommerce-page #reviews #comments ol.commentlist li .comment-text .meta{
	color: #474747;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text .meta, 
.woocommerce-page #reviews #comments ol.commentlist li .comment-text .meta{
	margin-bottom: 15px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text .meta strong, 
.woocommerce-page #reviews #comments ol.commentlist li .comment-text .meta strong{
	font-size: 18px;
	font-family: ralewaybold;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .meta time, 
.woocommerce-page #reviews #comments ol.commentlist li .comment-text .meta time{
	font-family: ralewaylight;
	font-size: 14px;
}


.woocommerce .tj-shop-single .tabs #review_form_wrapper label,
.woocommerce-page .tj-shop-single .tabs #review_form_wrapper label{
	display: block;
	font-size: 14px;
	font-family: ralewaybold;
	color: #474747;
	margin-bottom: 5px;
}	


.woocommerce .tj-shop-single .tabs #review_form_wrapper input,
.woocommerce-page .tj-shop-single .tabs #review_form_wrapper input,
.woocommerce .tj-shop-single .tabs #review_form_wrapper textarea,
.woocommerce-page .tj-shop-single .tabs #review_form_wrapper textarea{
	background: #fcfcfc;
	border:1px solid #ebebeb;
	width: 100%;
	margin-bottom: 20px;
}
.woocommerce .tj-shop-single .tabs #review_form_wrapper .comment-form-rating,
.woocommerce-page .tj-shop-single .tabs #review_form_wrapper .comment-form-rating{
	margin-bottom: 20px !important;
}


.woocommerce-page #respond input#submit,
.woocommerce #respond input#submit{
	border: 1px solid #ebebeb;
	border-radius: 0;
	text-transform: uppercase;
	padding: 10px 25px;
	font-weight: normal;
	font-size: 13px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	color: #fff;
	background: #dc971f;
	border-color: #ce8e1f;
	float: right;
	box-shadow: none;
	text-shadow: none;
	outline: none;
	display: inline-block;
	width: auto;
}

.woocommerce-page #respond input#submit:hover,
.woocommerce #respond input#submit:hover,
.woocommerce-page #respond input#submit:focus,
.woocommerce #respond input#submit:focus{
	background: #efb44f;
	border-color: #e6ae4f;
	color: #fff;
	box-shadow: none;
	text-shadow: none;
	outline: none;
}


.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product, 
.woocommerce-page .related ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product{
	width: 22.5%;
	margin-right: 3.75%;
 }


.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells{
	float:none;
	width:auto;
	display: block;
}

.woocommerce .cart-collaterals .cross-sells ul.products li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products li{
	width: 22.5%;
	margin-right: 3.75%;
}

.shipping_calculator h2{
	font-size:20px;
}

#ship-to-different-address{
	margin-top:35px;
}
#ship-to-different-address label,
#ship-to-different-address input{
	display: inline-block;
	line-height: inherit;
	height: auto;

}
.woocommerce button:focus{
	outline: none;
}
/*-- widgets --*/
.woocommerce .widget_product_search label{
	display: block;
}
.woocommerce .widget_product_search input:focus{
	box-shadow: none;
	outline: none;
}
.woocommerce .widget_product_search input[type="submit"]{
	display: inline-block;
	height: 45px;
	position: relative;
	left: -5px;
	line-height: 0;
	border: 1px solid #ebebeb;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 13px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	color: #fff;
	background-color: #dc971f;
	border-color: #ce8e1f;

}


.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range{
	background: #ccc;
	border:none;
	background-image:none;
	box-shadow:none;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, 
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content{
	border:none;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	border:none;
	background: #444;
	width:20px;
	height: 20px;
	top:-6px;
}

/*media queries 
**************************************************/
@media (min-width: 1600px) {
  
}

@media (max-width: 1200px) {
  	.woocommerce div.product form.cart, 
	.woocommerce-page div.product form.cart{
		float:left;
	}
}

@media (max-width: 992px) {
    .shop-breadcrumb{
		display:none;
	}
	#shop-nav{
		float:left;
		margin-top:15px;
	}
	#shop-nav li:first-child a {
		padding-left:0;
		margin-left:0;
	}
	.woocommerce .page-title,
	.woocommerce-page .page-title,
	.page-template-template-woocommerce-page-php .page-title{
		margin-top:25px;
	}
	.woocommerce #shop-cart,
	.woocommerce-page #shop-cart,
	.page-template-template-woocommerce-page-php #shop-cart{
		margin-top:32px;
		padding-right:50px;
	}
	.cart-contents{
		font-size:15px;
	}
	#shop-header{
		padding-bottom: 20px;
	}
	#shop-cart::after{
		width:36px;
		height:36px;
		line-height: 36px;
		font-size: 16px;
	}
	.shop-main-wrapper{
		margin-top: 50px;
	}
	
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product,
	.woocommerce-page .related ul li.product, 
	.woocommerce-page .related ul.products li.product, 
	.woocommerce .related ul li.product, 
	.woocommerce .related ul.products li.product{
		width: 48%;
		margin-right: 4%;
	}
	.woocommerce ul.products li.product.first, .woocommerce-page ul.products li.product.first{
		clear: none;
	}
	.woocommerce ul.products li.product.last, .woocommerce-page ul.products li.product.last{
		margin-right: 4%;
	}
	.woocommerce ul.products li.product:nth-child(even),
	.woocommerce-page ul.products li.product:nth-child(even){
		margin-right: 0 !important;
	}


}

@media (max-width: 768px) {
	.woocommerce-page div.product div.images,
	.woocommerce div.product div.images{
		float:left;
	}
	.woocommerce-page div.product div.summary,
	.woocommerce div.product div.summary{
		float:right;
	}

}
@media (max-width: 480px) {
	.woocommerce-page .woocommerce-ordering,
	.woocommerce .woocommerce-ordering{
		float: left;
	}

	.woocommerce-page .woocommerce-result-count,
	.woocommerce .woocommerce-result-count{
		line-height: 10px;
	}
	.shop-main-wrapper.with-sidebar .shop-sidebar,
	.shop-main-wrapper.with-sidebar .shop-main{
		width: 100%;
		padding: 0;
	}
	
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product,
	.woocommerce-page .related ul li.product, 
	.woocommerce-page .related ul.products li.product, 
	.woocommerce .related ul li.product, 
	.woocommerce .related ul.products li.product{
		width: 100%;
		margin-right: 0;
	}
	.woocommerce-page div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page div.product div.summary,
	.woocommerce div.product div.summary{
		float:none;
		width: 100%;
	}
}



.woocommerce .quantity .qty{
	padding:0;
	height: 30px;
}
.woocommerce ul.products li.product .star-rating {
  font-size: 15px;
}









