.tj-controlls{
	position: absolute;
	bottom: 0;
	right: 0;
}
.tj-controlls >*{
	display: inline-block;
	vertical-align: bottom;
}
.tj-ms-skin .ms-nav-next,
.tj-ms-skin .ms-nav-prev{
	position: relative;
	width: 40px;
	height: 50px;
	font-size: 30px;
	font-weight: 100;
	font-family: 'FontAwesome';
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	display: inline-block !important;
	cursor: pointer;
	color: #dc971f;
	background-color: rgba(39, 40, 34, 0.7);

}
.tj-ms-skin .ms-nav-next:hover,
.tj-ms-skin .ms-nav-prev:hover{
	background-color: rgba(39, 40, 34, 1);
}
.tj-ms-skin .ms-nav-next:after,.tj-ms-skin .ms-nav-prev:after{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.tj-ms-skin .ms-nav-next:after{
	content: "\f105";
}

.tj-ms-skin .ms-nav-prev:after{
	
	content:"\f104";
}


/*---Gallery mode---*/
.tj-ms-gallery .tj-controlls{
	bottom: 125px;
}



.tj-ms-skin .tj-ms-counter{
  width: 70px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #dc971f;
  background-color: rgba(39, 40, 34, 0.7);
}
.tj-ms-skin .tj-ms-counter > .counter-current{
  font-size: 26px;
}
.tj-ms-skin .tj-ms-counter > .counter-divider{
  padding: 2px;
}
.tj-ms-skin .tj-ms-counter > .counter-divider,
.tj-ms-skin .tj-ms-counter > .counter-total{
  position: relative;
  top: -9px;
}


/*---Vertical direction---*/
.tj-vertical-gallery .tj-controlls{
	bottom: 0;
	z-index:2;
	right:0;
}

.tj-vertical-gallery .tj-controlls .tj-ms-counter{
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #dc971f;
  background-color: rgba(39, 40, 34, 0.7);
}

.tj-vertical-gallery .tj-controlls .tj-ms-counter > .counter-current{
  font-size: 28px;
}

.tj-vertical-gallery .tj-controlls .tj-ms-counter > .counter-divider,
.tj-vertical-gallery .tj-controlls .tj-ms-counter > .counter-total{
  top: -9px;
}




.tj-ms-skin  .ms-slide .ms-slide-vpbtn, 
.tj-ms-skin  .ms-video-btn {
	width: 60px;
	height: 60px;
	border-radius:50%;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	color: #dc971f;
    background-color: rgba(39, 40, 34, 0.7);
	border:1px solid #dc971f;
}

.tj-ms-skin  .ms-slide .ms-slide-vpbtn:after, 
.tj-ms-skin  .ms-video-btn:after{
	width: 100%;
	height: 100%;
	font-family: 'FontAwesome';
	line-height: 60px;
	color: #dc971f;
	text-align: center;
	position: absolute;
	top: 0;
	left: 2px;
	content:"\f04b";
	font-size:20px;
}
.tj-ms-skin  .ms-slide .ms-slide-vpbtn:hover, 
.tj-ms-skin  .ms-video-btn:hover{
	background:#dc971f;
}
.tj-ms-skin  .ms-slide .ms-slide-vpbtn:hover:after, 
.tj-ms-skin  .ms-video-btn:hover:after{
	color:#fff;
}

.tj-ms-skin  .ms-slide .ms-slide-vcbtn {
	width: 30px;
	height: 30px;
	top: 18px;
	right: 30px;
}

.tj-ms-gallery .ms-slide iframe.ms-slide-video{
	padding-bottom: 125px;
	box-sizing: border-box !important;
} 
.tj-ms-gallery.tj-vertical-gallery .ms-slide iframe.ms-slide-video{
	padding-right: 140px;
	padding-bottom: 0;
}

@media only screen and (max-width: 600px){

.tj-ms-gallery.tj-vertical-gallery .ms-thumb-list{
	display: none;
}	
.tj-ms-gallery iframe{
	padding-bottom: 0;
}
.tj-ms-gallery.tj-vertical-gallery iframe{
	padding-right: 0;
}
	
}
